<div class="fullpage-view pagebackground" >
  <div class="page-accordion" id="accordionpage">
    <div class="textbox">
      <div class="header">
        <h3>{{ 'home3.h1' | translate }}
          <strong>{{ 'home3.h2' | translate }}</strong>
        </h3>
      </div>
      <div class="decription"><p>{{ 'home3.des' | translate }}.</p>
      </div>
    </div>
    <div class="accordion-container">
      <div class="accordion" id="accordion">
        <div class="tabs inactivetabs">
          <div class="year ">2012</div>
          <div class="contents fade-in">
            <div class="winners fade-in">
              <div class="name first">1.Gabriel Chundan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"> </span> 4.17.42</div>
              </div>
            </div>
            <div class="winnerimg">

            </div>
            <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
              <div class="name">3.Payippadan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.99</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs inactivetabs">
          <div class="year ">2013</div>
          <div class="contents fade-in">
            <div class="winners fade-in">
              <div class="name first">1.Gabriel Chundan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.42</div>
              </div>
            </div>
            <div class="winnerimg">

            </div>
            <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
              <div class="name">3.Payippadan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.99</div>
              </div>
            </div>
          </div>

        </div>
        <div class="tabs inactivetabs">
          <div class="year ">2014</div>
          <div class="contents fade-in">
            <div class="winners fade-in">
              <div class="name first">1.Gabriel Chundan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.42</div>
              </div>
            </div>
            <div class="winnerimg">

            </div>
            <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
              <div class="name">3.Payippadan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.99</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs inactivetabs">
          <div class="year ">2015</div>
          <div class="contents fade-in">
            <div class="winners fade-in">
              <div class="name first">1.Gabriel Chundan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.42</div>
              </div>
            </div>
            <div class="winnerimg">

            </div>
            <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
              <div class="name">3.Payippadan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.99</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs inactivetabs">
          <div class="year ">2016</div>
          <div class="contents fade-in">
            <div class="winners fade-in">
              <div class="name first">1.Gabriel Chundan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.42</div>
              </div>
            </div>
            <div class="winnerimg">

            </div>
            <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
              <div class="name">3.Payippadan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.99</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs activetabs">
          <div class="year ">2017</div>
          <div class="contents fade-in">
            <div class="winners fade-in">
              <div class="name first">1.Gabriel Chundan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.42</div>
              </div>
            </div>
            <div class="winnerimg">

            </div>
            <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
              <div class="name">3.Payippadan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime">
                  <span class="glyphicon glyphicon-time"></span> 4.17.99</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs inactivetabs " id="grad">
          <div class="year">2018
            <div class="">Fixtures</div>
          </div>

          <div class="contents fade-in">
            <div class="Coming_Soon">Coming Soon</div>
          </div>
        </div>
      </div>
    </div>
    <div class="see-more ">
      <span id="myBtn" data-toggle="modal" data-target="#ListAllWinners">
        <a class="btn btn-dark">See More</a>
      </span>
    </div>
  </div>
</div>

<div class="modal fade" id="ListAllWinners" tabindex="-1" role="dialog" aria-labelledby="ListAllWinnersModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ListAllWinnersModal">All Winners</h5>
      </div>
      <div class="modal-body">
        <div class="tg-wrap">
          <table class="table-striped">
            <tr>
              <th>Sl. No.</th>
              <th>Year</th>
              <th>Name of Boat</th>
              <th>Captian</th>
              <th>Boat club</th>
            </tr>
            <tr>
              <td>65</td>
              <td>2017</td>
              <td>Gabriel</td>
              <td>Ummen Jacob</td>
              <td>Thuruthipuram Boat Club,Ernakulam</td>
            </tr>
            <tr>
              <td>64</td>
              <td>2016</td>
              <td>Karichal</td>
              <td>Jameskutty Jacob</td>
              <td>Vembanadu Boat Club, Kumarakom P.O, Kottayam</td>
            </tr>
            <tr>
              <td>63</td>
              <td>2015</td>
              <td>Jawahar Thayamkary</td>
              <td>Jameskutty Jacob</td>
              <td>Vembanadu Boat Club, Kumarakom</td>
            </tr>
            <tr>
              <td>62</td>
              <td>2014</td>
              <td>Champakkulam</td>
              <td>George Thomas</td>
              <td>Unite Boat Club, Kainakary</td>
            </tr>
            <tr>
              <td>61</td>
              <td>2013</td>
              <td>Sri Ganeshan</td>
              <td>Arun Kumar</td>
              <td>St.Francis Boat Club,Harippad</td>
            </tr>
            <tr>
              <td>60</td>
              <td>2012</td>
              <td>Sri Ganeshan</td>
              <td>JiJi Jacob Pollayil</td>
              <td>Freedom Boat Club, Kainakary</td>
            </tr>
            <tr>
              <td>59</td>
              <td>2011</td>
              <td>------------------</td>
              <td>------------------</td>
              <td>------------------</td>
            </tr>
            <tr>
              <td>58</td>
              <td>2010</td>
              <td>Jawahar Thayankari</td>
              <td>Joseph philip</td>
              <td>Kumarakam Town Boat Club</td>
            </tr>
            <tr>
              <td>57</td>
              <td>2009</td>
              <td>Champakkulam</td>
              <td>JiJi Jacob Pollayil</td>
              <td>Jesus Boat Club, Kollam</td>
            </tr>
            <tr>
              <td>56</td>
              <td>2008</td>
              <td>Karichal</td>
              <td>JiJi Jacob Pollayil</td>
              <td>Jesus Boat Club, Kollam</td>
            </tr>
            <tr>
              <td>55</td>
              <td>2007</td>
              <td>Payippad</td>
              <td>Kunjumon Meluvallil</td>
              <td>Kumarakam Town Boat Club</td>
            </tr>
            <tr>
              <td>54</td>
              <td>2006</td>
              <td>Payippad</td>
              <td>Raju Vadakkath</td>
              <td>Kumarakam Town Boat Club</td>
            </tr>
            <tr>
              <td>53</td>
              <td>2005</td>
              <td>Payippad</td>
              <td>Raju Vadakkath</td>
              <td>Kumarakam Town Boat Club</td>
            </tr>
            <tr>
              <td>52</td>
              <td>2004</td>
              <td>Cheruthana</td>
              <td>Raju Vadakkathu, Kumarakam P.O.</td>
              <td>Kumarakam Town Boat Club</td>
            </tr>
            <tr>
              <td>51</td>
              <td>2003</td>
              <td>Karichal</td>
              <td>Thampi Podippara</td>
              <td>Navajeevan Boat Club, Maniyaparampu</td>
            </tr>
            <tr>
              <td>50</td>
              <td>2002</td>
              <td>Vellamkulangara</td>
              <td>Sanny Jakob</td>
              <td>Kumarakom Boat Club</td>
            </tr>
            <tr>
              <td>49</td>
              <td>2001</td>
              <td>Karichal</td>
              <td>Tobin Chandy</td>
              <td>Friends Boat Club Chennamkary &amp; Venattukad</td>
            </tr>
            <tr>
              <td>48</td>
              <td>2000</td>
              <td>Karichal</td>
              <td>Bency Randuthikkal</td>
              <td>Alappuzha Boat Club</td>
            </tr>
            <tr>
              <td>47</td>
              <td>1999</td>
              <td>Alappadan</td>
              <td>Sampath Kaniyamparampil</td>
              <td>Kumarakom Town Boat Club Kumarakom</td>
            </tr>
            <tr>
              <td>46</td>
              <td>1998</td>
              <td>Champakkulam</td>
              <td>Domanic Kuzhimattom</td>
              <td>Pallatturuthi Boat Club</td>
            </tr>
            <tr>
              <td>45</td>
              <td>1997</td>
              <td>Alappadan</td>
              <td>K P Poul</td>
              <td>Navajeevan Boat Club, Arppukkara</td>
            </tr>
            <tr>
              <td>44</td>
              <td>1996</td>
              <td>Champakkulam</td>
              <td>Anil Madhavan</td>
              <td>Alappuzha Boat Club</td>
            </tr>
            <tr>
              <td>43</td>
              <td>1995</td>
              <td>Champakkulam</td>
              <td>Jos Jhon</td>
              <td>Alappuzha Boat Club</td>
            </tr>
            <tr>
              <td>42</td>
              <td>1994</td>
              <td>Champakkulam</td>
              <td>Antony Akkarakkalam</td>
              <td>Jet Airways Boat Club, Cochin</td>
            </tr>
            <tr>
              <td>41</td>
              <td>1993</td>
              <td>Kallooparamban</td>
              <td>C V Vijayan</td>
              <td>United Boat Club (U.B.C.) Kainakari</td>
            </tr>
            <tr>
              <td>40</td>
              <td>1992</td>
              <td>Kallooparamban</td>
              <td>V N Velayudhan</td>
              <td>Sree Lakshmana Boat Club Mulakkulam</td>
            </tr>
            <tr>
              <td>39</td>
              <td>1991</td>
              <td>Champakkulam</td>
              <td>A K Lalasan</td>
              <td>United Boat Club (U.B.C.) Kainakari</td>
            </tr>
            <tr>
              <td>38</td>
              <td>1990</td>
              <td>Champakkulam</td>
              <td>A K Lalasan</td>
              <td>United Boat Club (U.B.C.) Kainakari</td>
            </tr>
            <tr>
              <td>37</td>
              <td>1989</td>
              <td>Champakkulam</td>
              <td>A K Lalasan</td>
              <td>United Boat Club (U.B.C.) Kainakari</td>
            </tr>
            <tr>
              <td>36</td>
              <td>1988</td>
              <td>Vellamkulangara</td>
              <td>T P Rajbhavan</td>
              <td>Pallatturuthi Boat Club</td>
            </tr>
            <tr>
              <td>35</td>
              <td>1987</td>
              <td>Karichal</td>
              <td>Sanni Akkarakkalam</td>
              <td>Village Boat Club, Kainakari</td>
            </tr>
            <tr>
              <td>34</td>
              <td>1986</td>
              <td>Karichal</td>
              <td>Sanni Akkarakkalam</td>
              <td>Village Boat Club, Kainakari</td>
            </tr>
            <tr>
              <td>33</td>
              <td>1985</td>
              <td>Jawahar Thayamkari</td>
              <td>P C Joseph</td>
              <td>Friends Boat Club Chennamkary &amp; Venattukad</td>
            </tr>
            <tr>
              <td>32</td>
              <td>1984</td>
              <td>Karichal</td>
              <td>Nellanikkal Pappachan</td>
              <td>Kumarakom Boat Club</td>
            </tr>
            <tr>
              <td>31</td>
              <td>1983</td>
              <td>Karichal</td>
              <td>Nellanikkal Pappachan</td>
              <td>Kumarakom Boat Club</td>
            </tr>
            <tr>
              <td>30</td>
              <td>1982</td>
              <td>Karichal</td>
              <td>Nellanikkal Pappachan</td>
              <td>Kumarakom Boat Club</td>
            </tr>
            <tr>
              <td>29</td>
              <td>1981</td>
              <td>-------------------</td>
              <td>-------------------</td>
              <td>-------------------</td>
            </tr>
            <tr>
              <td>28</td>
              <td>1980</td>
              <td>Karichal</td>
              <td>Ramachandran</td>
              <td>Pullangadi Boat Club</td>
            </tr>
            <tr>
              <td>27</td>
              <td>1979</td>
              <td>Ayaparambu Valya Divanji</td>
              <td>Ravi Prakash</td>
              <td>United Boat Club (U.B.C.) Kainakari</td>
            </tr>
            <tr>
              <td>26</td>
              <td>1978</td>
              <td>Jawahar Thayamkari</td>
              <td>K S Vargees</td>
              <td>Thayamkari Boat Club</td>
            </tr>
            <tr>
              <td>25</td>
              <td>1977</td>
              <td>Jawahar Thayamkari</td>
              <td>K S Vargees</td>
              <td>Thayamkari Boat Club</td>
            </tr>
            <tr>
              <td>24</td>
              <td>1976</td>
              <td>Karichal</td>
              <td>P K Thankachan</td>
              <td>United Boat Club (U.B.C.) Kainakari</td>
            </tr>
            <tr>
              <td>23</td>
              <td>1975</td>
              <td>Karichal</td>
              <td>P C Joseph</td>
              <td>Friends Boat Club Chennamkary &amp; Venattukad</td>
            </tr>
            <tr>
              <td>22</td>
              <td>1974</td>
              <td>Karichal</td>
              <td>P C Joseph</td>
              <td>Friends Boat Club Chennamkary &amp; Venattukad</td>
            </tr>
            <tr>
              <td>21</td>
              <td>1973</td>
              <td>Kallooparamban</td>
              <td>Nellanikkal Pappachan</td>
              <td>Kumarakom Boat Club</td>
            </tr>
            <tr>
              <td>20</td>
              <td> </td>
              <td>Kallooparamban</td>
              <td>Nellanikkal Pappachan</td>
              <td>Kumarakom Boat Club</td>
            </tr>
            <tr>
              <td>19</td>
              <td>1971</td>
              <td>Kallooparamban &amp; Pulinkunnu</td>
              <td>Nellanikkal Pappachan &amp; Chakkamma Kannotuthara</td>
              <td>Kumarakom Boat Club &amp; Pulinkunnu Boat Club</td>
            </tr>
            <tr>
              <td>18</td>
              <td>1970</td>
              <td>Kallooparamban</td>
              <td>Vargees Antony</td>
              <td>United Boat Club (U.B.C.) Kainakari</td>
            </tr>
            <tr>
              <td>17</td>
              <td>1969</td>
              <td>Pulinkunnu</td>
              <td>C C Chakko</td>
              <td>Pulinkunnu Boat Club</td>
            </tr>
            <tr>
              <td>16</td>
              <td>1968</td>
              <td>Parthasarathy</td>
              <td>P K Thankachan</td>
              <td>United Boat Club (U.B.C.) Kainakari</td>
            </tr>
            <tr>
              <td>15</td>
              <td>1967</td>
              <td>Pulinkunnu</td>
              <td>Thommichan</td>
              <td>Pulinkunnu Boat Club</td>
            </tr>
            <tr>
              <td>14</td>
              <td>1966</td>
              <td>Pulinkunnu</td>
              <td>Thommichan</td>
              <td>Pulinkunnu Boat Club</td>
            </tr>
            <tr>
              <td>13</td>
              <td>1965</td>
              <td>Parthasarathy</td>
              <td>P K Thankachan</td>
              <td>United Boat Club (U.B.C.) Kainakari</td>
            </tr>
            <tr>
              <td>12</td>
              <td>1964</td>
              <td>St. George</td>
              <td>P K Thankachan</td>
              <td>United Boat Club (U.B.C.) Kainakari</td>
            </tr>
            <tr>
              <td>11</td>
              <td>1963</td>
              <td>Geargoss</td>
              <td>P K Thankachan</td>
              <td>United Boat Club (U.B.C.) Kainakari</td>
            </tr>
            <tr>
              <td>10</td>
              <td>1962</td>
              <td>Kavalam</td>
              <td>T J Job</td>
              <td>Kavalam Boat Club</td>
            </tr>
            <tr>
              <td>9</td>
              <td>1961</td>
              <td>Neppolian</td>
              <td>Cheriyan Vargees</td>
              <td>Pongga Boat Club</td>
            </tr>
            <tr>
              <td>8</td>
              <td>1960</td>
              <td>Kavalam</td>
              <td>Matthachan</td>
              <td>Kavalam Boat Club</td>
            </tr>
            <tr>
              <td>7</td>
              <td>1959</td>
              <td>Neppolian</td>
              <td>Cheriyan Vargees</td>
              <td>Pongga Boat Club</td>
            </tr>
            <tr>
              <td>6</td>
              <td>1958</td>
              <td>Neppolian &amp; Kavalam</td>
              <td>Cheriyan Joseph &amp; T J Job</td>
              <td>Pongga Boat Club &amp; Kavalam Boat Club</td>
            </tr>
            <tr>
              <td>5</td>
              <td>1957</td>
              <td>Neppolian</td>
              <td>Joseph Cheriyan</td>
              <td>Pongga Boat Club</td>
            </tr>
            <tr>
              <td>4</td>
              <td>1956</td>
              <td>Kavalam</td>
              <td>Thomman Joseph</td>
              <td>Kavalam Team</td>
            </tr>
            <tr>
              <td>3</td>
              <td>1955</td>
              <td>Parthasarathy</td>
              <td>K G Raghavan Nair</td>
              <td>N S S Karayogam, Nedumudy</td>
            </tr>
            <tr>
              <td>2</td>
              <td>1954</td>
              <td>Kavalam</td>
              <td>Thomman Joseph</td>
              <td>Kavalam Team</td>
            </tr>
            <tr>
              <td>1</td>
              <td>1952</td>
              <td>Nadubhagam</td>
              <td>Chakko Mappila Mattu Mappila</td>
              <td>Nadubhagam Boat Club</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>