
@media screen and (orientation: landscape) {
    .page-accordion{
    
      height: 120vw;
      background-color: transparent;
    
    }
    }
    /* ANIMATIONS */
    @-webkit-keyframes fadein {
      0% { opacity: 0; }
      100% { opacity: 1; }
      }
      
      @keyframes fadein {
      0% { opacity: 0; }
      100% { opacity: 1; }
      }
      @-webkit-keyframes fadeout {
        0% { opacity: .2; }
        100% { opacity: 0; }
      }
        
      @keyframes fadeout {
      0% { opacity: .2; }
      100% { opacity: 0; }
      }
    .modal-body{
      overflow-y: scroll;
    }
      /* DESKTOP_768+ */
    
      .page-accordion{
        width: 100%;
        height: 100vh;
        font-display: flex;
        flex-direction: column;
        padding-top: 100px;
        background-color: transparent;
        color: #fff;
        overflow-y: hidden;
        overflow-x: hidden;
    
      }
      .decription{
        p{
          font-size: 1em;
        }
      }
      #myBtn{
        a{
          padding: 5px;
          background-color: #151511;
        }
      }
      .textbox{
        padding: 0 50px;
        text-align: center;
      }
      .accordion-container{
        width: 100%;  
        padding-top: 30px;
        min-height: 450px;
    
      }
      .accordion{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        overflow-x: hidden;
        // background-color: #15151e;
        cursor: pointer;
      }
      .tabs{
        -webkit-transition: all 0.5s 0.2s;
          -webkit-transition-delay: ease-in-out;
          -moz-transition: all 0.5s 0.2s ease-in-out;
          -o-transition: all 0.5s 0.2s ease-in-out;
          transition: all 0.5s 0.2s ease-in-out;
          background-color: transparent;
          border-right: 1px solid ;
          display: flex;
          flex-direction: row;
          -moz-border-image: -moz-linear-gradient(top, #414153 0%, #fff 50%, #414153 100%);
          -webkit-border-image: -webkit-linear-gradient(top, #414153 0%, #fff 50%, #414153 100%);
          border-image: linear-gradient(to bottom, #414153 0%, #fff 50%, #414153 100%);
          border-image-slice: 1;
         }
      .activetabs{
        width: 40vw;
        // background-color: #1f1f2c;
        -webkit-animation: fadein 1s linear forwards;
        animation: fadein 1s linear forwards;
        -webkit-transition: all 0.5s 0.2s;
          -webkit-transition-delay: ease-in-out;
          -moz-transition: all 0.5s 0.2s ease-in-out;
          -o-transition: all 0.5s 0.2s ease-in-out;
          transition: all 0.5s 0.2s ease-in-out;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          padding: 0px;
      }
      .inactivetabs{
        width: 10vw;
        overflow: hidden;
      }
      .inactivetabs .contents{
        -webkit-animation: fadeout 1s linear forwards;
        animation: fadeout 1s linear forwards;
      }
      .inactivetabs .contents{
        width: 0;
        padding: 0;  
      }
      #grad {
        background: linear-gradient(-45deg, #185a9d, #43cea2);
      }
      #grad .year{
        color: white;
      }
      .year{
        padding-top: 10px;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
      }
      .Coming_Soon{
        padding: 100px 30px;
        text-align: center;
        font-size: 1.5em;
      }
      .activetabs .year{
    
        font-family: Roboto;
        font-weight: 700;
      }
      .contents .first{
        font-size: 1.2em;
      }
      .winners{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
      }
      .winnertime{
        width: 85px;
      }
      .winnerimg{
        padding: 0;
        margin: 0;
        width: 100%;
        height:246px;
        background-image: url('/assets/img/2016/thumb/2016-07-22-01.jpg');
        background-repeat: no-repeat;
        background-position: center;
      }
      .activetabs .contents, .activetabs .winners{
        min-width: 360px;
        visibility: visible;
        -webkit-transition: all 0.5s 0s;
        -webkit-transition-delay: ease-in-out;
        -moz-transition: all 0.5s 0s ease-in-out;
        -o-transition: all 0.5s 0s ease-in-out;
        transition: all 0.5s 0s ease-in-out;
      }
      .see-more{
        margin-top: 20px;
        text-align: center;
        width: 100vw;
        cursor: pointer;
      }
      .see-more a{
        color: #FFF;
        text-decoration: none;
      }
      /* MOBILE_480 */
      @media screen and (max-width:480px){
        .page-accordion{
          height: 100vh;;
        }
        .accordion-container{
          height: 40vh;
        
        }
        .winnerimg{
          max-height: 150px;
        }
        .accordion{
          width: 220vw;
        }
        .inactivetabs{
          width: 20vw;
        }
        .activetabs{
          width: 100vw;
          padding-top:5px;
        }
      }
    
      /* MOBILE_768 */
      @media screen and (max-width:768px){
        .page-accordion{
          color: #FFF;
          width: 100vw;
          justify-content: stretch;
          align-content: space-around ;
        }
        .textbox{
          padding: 0 20px;  
        }
        
        .accordion-container{
          min-height: 350px;
          overflow-x: scroll;
        }
        .accordion{
          width: 1000px;
          display: flex;
          flex-direction: row;
          justify-content: stretch;   
    
        }
        .inactivetabs{
          width: 100px;
        }
        .inactivetabs .year{
          width: 100%;
        }
        .activetabs{
          width: 400px;
        }
        .activetabs .contents{
          min-width: 400px;
        }
        .contents{
          padding: 0;
          visibility: hidden;
          -webkit-transition: all 0.5s 0s;
          -webkit-transition-delay: ease-in-out;
          -moz-transition: all 0.5s 0s ease-in-out;
          -o-transition: all 0.5s 0s ease-in-out;
          transition: all 0.5s 0s ease-in-out;
        }
    
       }
    
    