<div class="fullpage-view ">
  <div class="video">
      <video  class="video-intro" poster="/assets/mainback.jpg" playsinline autoplay muted loop>
  
    <source id="video-intro" src="/assets/mainback.jpg" type="video/mp4">
  </video></div>
  <div class="mask  d-flex justify-content-center align-items-center">
    <!-- Content -->
    <div class="contnt">
      <div class="eventinfo">

        <div class="cnt">

          <h2 class="ntbr">
            <span id="Nehru">NEHRU TROPHY</span>
            <br>BOAT RACE</h2>
        </div>

        <div class="dte">
          <h1 class="dtebox">AUG
          <br>
          <span class="num">11</span>
          </h1>
          <h1 class="lake">PUNNAMADA LAKE</h1>

        </div>

      </div>

      <hr>

      <p class="pagecnt">Official website of
        <b>The Nehru Trophy Boat Race 2018</b>
      </p>
    </div>
    <span class="sx">
      <b>66
        <sup class="sups">th</sup>edition</b>
    </span>
    <!-- Content -->
  </div>
  <div class="scroll">
      <div class="scroll-downs">
              <div class="mousey">
                <div class="scroller"></div>
              </div>
            </div>
</div>
</div>