<div class="sitemap">
  <h3>NTBR 2018 Website Sitemap</h3><br>
  <ul class="list-group col-sm-12 col-md-12 col-lg-8">
     <li class="list-group-item list-group-item-action headlinks" routerLink = '/home'>Home</li>
        <li class="list-group-item list-group-item-action" routerLink = '/home'>Home > Landing Page</li>
        <li class="list-group-item list-group-item-action" routerLink = '/home'>Home > Latest News</li>
        <li class="list-group-item list-group-item-action" routerLink = '/home'>Home > Latest Winners</li>
     <li class="list-group-item list-group-item-action headlinks" routerLink = '/about'>About</li>
         <li class="list-group-item list-group-item-action" routerLink = '/about'>About > History</li>
         <li class="list-group-item list-group-item-action" routerLink = '/about'>About > Nehru Trophy</li>
         <li class="list-group-item list-group-item-action" routerLink = '/about'>About > Venice of East</li>
         <li class="list-group-item list-group-item-action" routerLink = '/about'>About > Boat Race</li>

     <li class="list-group-item list-group-item-action headlinks" routerLink = '/contact'>Contact</li>
        <li class="list-group-item list-group-item-action" routerLink = '/contact'>Contact > NTBR Society</li>
        <li class="list-group-item list-group-item-action" routerLink = '/contact'>Contact > Whom to contact</li>
        <li class="list-group-item list-group-item-action" routerLink = '/contact'>Contact > Committee</li>
        <li class="list-group-item list-group-item-action" routerLink = '/contact'>Contact > Location</li>
        <li class="list-group-item list-group-item-action" routerLink = '/contact'>Contact > Do & Dont's</li>
        <li class="list-group-item list-group-item-action" routerLink = '/contact'>Contact > Major Hotels</li>
        <li class="list-group-item list-group-item-action" routerLink = '/contact'>Contact > Feedback</li>
     <li class="list-group-item list-group-item-action headlinks" routerLink = '/gallery'>Gallery</li>
  </ul>
</div>