<div class="page-about mb-450 fullpage-view ">
    <div class="contentBasediv">
        <div class="contentContainer">
            <div class="contentBox" id="about-history">
                <h1 class="headerAboutContent flex-start">HISTORY</h1>
                <div class="pageContent glassBackground">
                    <div class="container flex-center ">
                        <div class="row rounded">
                            <div class="col-md-6 ">
                                <img src="/assets/nehru-about.jpg" width="100%" class="rounded" alt="">
                                
                            </div>
                            <div class="col-md-6">
                                    <p class="aboutContentText">
                                            <strong>T</strong>he history of the Nehru Trophy Boat Race is associated with the visit of late Pandit
                                            Jawaharlal Nehru, the then Prime Minister of India to Alappuzha. The first race was an impromptu
                                            one conducted in 1952 in honour of Panditji. On his return to Delhi in December 1952, Nehru donated
                                            a Silver Trophy, bearing the following inscription above his signature.
                                            <br>
                                            <br>
                                            <strong>
                
                                                <p class="qoute">
                                                    <i class="fa fa-quote-left pr-2"></i>To the winners of the boat race which is a unique feature of community life in Travancore
                                                    Cochin.
                                                    <i class="fa fa-quote-right pr-2"></i>
                                                </p>
                
                                            </strong>
                                            <br> This trophy later came to be known as Nehru Trophy, which is celebrated every year by the people
                                            of Alappuzha, in fond memory of Pandit Jawaharlal Nehru.
                                        </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="contentBox" id="about-nt">
                <h1 class="headerAboutContent flex-start">NEHRU TROPHY</h1>
                <div class="pageContent glassBackground">

                    <div class="container flex-center ">
                        <div class="row rounded">
                            <div class="col-md-6">
                                <img src="/assets/about-nehruTrophy.jpg" width="100%" class="rounded" alt="">
                                
                            </div>
                            <div class="col-md-6">
                                    <p class="aboutContentText">
                                            <strong>T</strong>he Nehru Trophy Boat Race on the Punnamada Lake, near Alappuzha, held on the second
                                            Saturday of August every year, is the most competitive and popular of the boat races. The major
                                            attraction of the boat race is the competition of snake boats (Chundanvallams). Chundans are
                                            an impressive sight, measuring over 100 feet in length, with a raised prow rounded. They were called
                                            snake boats by the former colonial rulers, who based the name on a native boat found in Norway,
                                            although Kerala's Chundans bear little resemblance to their European namesakes.
                
                                            <br>
                                            <br>
                
                                            <br>
                                        </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentBox " id="about-voe">
                <h1 class="headerAboutContent flex-start">VENICE OF EAST</h1>
                <div class="pageContent glassBackground">

                    <div class="container flex-center ">
                        <div class="row rounded">
                            <div class="col-md-6">
                                <img src="/assets/about-voe.jpg"  width="100%" class="rounded" alt="">
                                
                            </div>
                            <div class="col-md-6">
                                    <p class="aboutContentText">
                                            <strong>T</strong>he history of Alappuzha district forms part of the history of erstwhile state of Travancore.
                                            Considering the geographical position and physical features of the district, it may be assumed
                                            that the word 'Alappuzha' means the land between the sea and a network of rivers flowing into
                                            it. The master mind that worked in turning Alappuzha to a commercial centre was Raja Kesava Das,
                                            the illustrious Divan of Travancore. Alappuzha became the centre of trade for coir, copra, pepper,
                                            ginger, cardamom, rubber and tea.
                
                                            <br>
                                            <br>
                
                                            <br>
                                        </p>
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentBox" id="about-boatrace">
                <h1 class="headerAboutContent flex-start">BOAT RACE</h1>
                <div class="pageContent glassBackground">

                    <div class="container flex-center ">
                        <div class="row rounded">
                            <div class="col-md-6">
                                <img src="/assets/about-boatRace.jpg" width="100%" class="rounded" alt="">
                                
                            </div>
                            <div class="col-md-6">
                                    <p class="aboutContentText">
                                            <strong>I</strong>n Kuttanadu, the land of lakes and rivers, snake boat racing is something of cult,
                                            just as bull fighting is in Spain. Sleek and immaculately poised, the snake boats are the pride
                                            of every village. These race boats dominate the thoughts and actions of the people of this region
                                            during the months of August and September, when nearly 20 minor and major regattas are held.
                                             The present boat races in Kuttanad have their own history connected to the rulers of the time.
                                            Chambakulam Moolam Boat Race is considered to be the most ancient.
                
                                            <br>
                                            <br>
                                            <br>
                                        </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll">
                <div class="scroll-downs">
                        <div class="mousey">
                          <div class="scroller"></div>
                        </div>
                      </div>
        </div>
    </div>
    <div class="navContainer">
        <div class="verticalNav ">
            <ul class="aboutList list-unstyled glassBackground ml-auto">
                <li class="aboutListItem verticalListItem1"><a href="/about/#about-history">HISTORY</a></li>
                <li class="aboutListItem verticalListItem2"><a href="/about/#about-nt">NEHRU TROPHY</a></li>
                <li class="aboutListItem verticalListItem3"><a href="/about/#about-voe">VENICE OF EAST</a></li>
                <li class="aboutListItem verticalListItem4"><a href="/about/#about-boatrace">BOAT RACE</a></li>
            </ul>
            <button class="downloadButton ml-auto " (click)="downloadPDF()" ><span><strong>Download All</strong></span></button>
        </div>
    </div>
    
</div>
<app-footer></app-footer>