.page-about {
  width: 100%;
  padding-top: 80px;
  height: 100%;
  position: relative;
  background-image: url("/assets/bg-about.jpg");
  background-size: cover;
  background-attachment: fixed;

  .contentBox {
    width: 75%;
    @media (max-width: 767px) {
      width: 100%;
    }
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    .headerAboutContent {
      color: #fff;
      padding-left: 25px;
    }

    .pageContent {
      height: 80%;
      margin: 25px 20px;
      @media screen and (max-width: 768px) {
        margin: 15px 20px;
      }

      .aboutContentText {
        text-justify: inter-word;
        text-align: justify;
        font-size: 1em;
      }
    }
  }

  .navContainer {
    width: 25%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: flex-end;
    @media screen and (max-width: 768px) {
      width: 0px;
      display: none;
    }

    .verticalNav {
      min-height: 50vh;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
     
    }

    .aboutList {
      display: flex;
      width: 250px;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      cursor: pointer;
      margin-bottom: 0px;
    }

    .aboutListItem {
      padding: 20px;
      .selected{
        color: #43cea2 !important;
      }
      
      a {
        color: #fff;
        text-decoration: none;
      }
    }

    .activeverticalnav a {
      color: #185a9d !important;
    }
    .downloadContainer{
      width: 250px;
      padding: 0px;
    }
    .btn-group{
      padding:5px;
      width: 95%;
      .btn{
        width: 50%;
        padding:5px 10px;
        border: 0px !important;
    }
    }
   
    .selectPdfln{
      display: block;
    }
  }
}
.downloadButton {
  color: #fff; 
  background: linear-gradient(-45deg, #185a9d, #43cea2);
  cursor: pointer;
  width: 250px;
  height: 40px;
  border: 0px;
  .btn-group{
    padding:5px;
    width: 95%;
    p{
      padding: 0px 5px;
    }
    .btn{
      width: 50%;
      padding:5px 10px;
      border: 0px !important;
  }
  }
}
#mobileAboutDownload{
  justify-content: center;
}
#aboutNavigation ul li {
  position: relative;
}
.selected{
  color: #43cea2 !important;
}
