<div class="page-about fullpage-view ">

    <div class="contentBox" id="about-history">
        <h1 class="headerAboutContent flex-start">{{ 'about.h1' | translate }}</h1>
        <div class="pageContent glassBackground">
            <div class="container flex-center ">
                <div class="row rounded">
                    <div class="col-md-6 ">
                        <img src="/assets/nehru-about.jpg" width="100%" class="rounded" alt="">

                    </div>
                    <div class="col-md-6">
                        <p class="aboutContentText">
                            {{ 'about.p1a' | translate }}
                            <br>
                            <br>
                            <strong>

                                <p class="qoute">
                                    <i class="fa fa-quote-left pr-2"></i>{{ 'about.p1b' | translate }}
                                    <i class="fa fa-quote-right pr-2"></i>
                                </p>

                            </strong>
                            <br> {{ 'about.p1c' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="contentBox" id="about-nt">
        <h1 class="headerAboutContent flex-start">{{ 'about.h2' | translate }}</h1>
        <div class="pageContent glassBackground">

            <div class="container flex-center ">
                <div class="row rounded">
                    <div class="col-md-6">
                        <img src="/assets/about-voe.jpg" width="100%" class="rounded" alt="">

                    </div>
                    <div class="col-md-6">
                        <p class="aboutContentText">
                            {{ 'about.p2' | translate }}

                            <br>
                            <br>

                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contentBox " id="about-voe">
        <h1 class="headerAboutContent flex-start">{{ 'about.h3' | translate }}</h1>
        <div class="pageContent glassBackground">

            <div class="container flex-center ">
                <div class="row rounded">
                    <div class="col-md-6">
                        <img src="/assets/about-nehruTrophy.jpg" width="100%" class="rounded" alt="">

                    </div>
                    <div class="col-md-6">
                        <p class="aboutContentText">
                            {{ 'about.p3' | translate }}

                            <br>
                            <br>

                            <br>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contentBox" id="about-boatrace">
        <h1 class="headerAboutContent flex-start">{{ 'about.h4' | translate }}</h1>
        <div class="pageContent glassBackground">

            <div class="container flex-center ">
                <div class="row rounded">
                    <div class="col-md-6">
                        <img src="/assets/about-boatRace.jpg" width="100%" class="rounded" alt="">

                    </div>
                    <div class="col-md-6">
                        <p class="aboutContentText">
                            {{ 'about.p4' | translate }}
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" container" >
        <div class="row" id="mobileAboutDownload">
            <button class=" downloadButton" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">
                {{ 'about.download' | translate }}
            </button>
            <div class="btn-group collapse " id="collapseExample" role="group" aria-label="Basic example">
                <p> {{ 'about.viewaspdf' | translate }} </p>
                <button type="button" class="btn btn-secondary btn-sm" (click)="downloadPDFeng()"> {{ 'about.english' | translate }}</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="downloadPDFmal()"> {{ 'about.malayalam' | translate }}</button>
            </div>
        </div>
    </div>



    <div class="navContainer">
        <div class="verticalNav " id="aboutNavigation">
            <ul class="aboutList list-unstyled glassBackground ml-auto">
                <li class="aboutListItem verticalListItem1 selected">
                    <a href="#about-history">{{ 'about.h1' | translate }} </a>
                </li>
                <li class="aboutListItem verticalListItem2">
                    <a href="#about-nt">{{ 'about.h2' | translate }} </a>
                </li>
                <li class="aboutListItem verticalListItem3">
                    <a href="#about-voe">{{ 'about.h3' | translate }} </a>
                </li>
                <li class="aboutListItem verticalListItem4">
                    <a href="#about-boatrace">{{ 'about.h4' | translate }} </a>
                </li>
                <li class=" downloadContainer aboutListItem">
                    <button class=" downloadButton" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">
                        {{ 'about.download' | translate }}
                    </button>
                    <div class="btn-group collapse " id="collapseExample" role="group" aria-label="Basic example">
                        <p> {{ 'about.viewaspdf' | translate }}</p>
                        <button type="button" class="btn btn-secondary btn-sm" (click)="downloadPDFeng()"> {{ 'about.english' | translate }}</button>
                        <button type="button" class="btn btn-secondary btn-sm" (click)="downloadPDFmal()"> {{ 'about.malayalam' | translate }}</button>
                    </div>
                </li>
            </ul>





        </div>
    </div>

</div>