<nav class="navbar navbar-expand-md  navbar-fixed navbar-color glassBackground">
  <!-- Brand -->
  <a class="navbar-brand" href="">
      <img src="/assets/ntbrlogo.png" alt="Logo" style="width:40px;"> 
      <img src="/assets/log_5.png" alt="Kerala state Logo" style="width:70px;margin-left: 20px;">
    </a>
  

  <!-- Navbar links -->
  <div class="collapse navbar-collapse " id="collapsibleNavbar">
    <button id="sizedown">A-</button>
    <button id="sizereset">A</button>
    <button id="sizeup">A+</button>
    <ul class="navbar-nav ml-auto">
    
      <li class="nav-item">
        <a class="nav-link" routerLink = '/home' routerLinkActive = ' nav-active ' href="home">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = '/about' routerLinkActive = ' nav-active ' href="about" >ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = '/contact' routerLinkActive = ' nav-active ' href="contact">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = '/gallery' routerLinkActive = ' nav-active ' href="gallery">GALLERY</a>
      </li>
      <li class="nav-item booking">
        <a id="button-buy " class="" routerLink = '/buytickets' href="buytickets" target="_blank" onClick="return confirm('Do you want to leave?')">BUY TICKETS</a>
      </li>
    </ul>

  </div>
    <div class="hidden-md-down">
      <ul class="ml-auto">
        <li class="nav-item dropdown hidden-md-down">
          <a class="nav-link " href="#" id="navbardrop" data-toggle="dropdown">
            <div class="navbar-toggler-icon hamburger mr-auto" id="hamburger-6">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </a>
          <div class="dropdown-menu">
            <a class="nav-link "  routerLink = '/home' routerLinkActive = ' nav-active ' href="home">HOME</a>
            <a class="nav-link "  routerLink = '/about' routerLinkActive = ' nav-active ' href="about">ABOUT</a>
            <a class="nav-link "  routerLink = '/contact' routerLinkActive = ' nav-active ' href="contact">CONTACT</a>
            <a class="nav-link "  routerLink = '/gallery' routerLinkActive = ' nav-active ' href="gallery">GALLERY</a>
            <a id="button-buy " class="nav-link" href="#">BUY TICKETS</a>
          </div>
        </li>
    
      </ul>
    </div>
    <!-- navbar ends -->
</nav>
