<nav class="navbar navbar-expand-md  navbar-fixed navbar-color glassBackground">
  <!-- Brand -->
  <a class="navbar-brand">
    <img src="/assets/ntbrlogo1.png" class="ntbrlogo" alt="Logo">
    <img src="/assets/log_5.png" class="statelogo" alt="Kerala state Logo">
  </a>
  <div class="icon-bar">
    <a class="active" href="https://www.facebook.com/NehruTrophyNTBR" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
      <i class="socialicon fab fa-facebook"></i>
    </a>
    <a href="https://www.youtube.com/c/NehruTrophynicin" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
      <i class="socialicon fab fa-youtube"></i>
    </a>
    <a href="https://twitter.com/NehruTrophyNTBR" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
      <i class="socialicon fab fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com/nehrutrophy_boatrace/" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
      <i class="socialicon fab fa-instagram"></i>
    </a>
    <a href="https://plus.google.com/+NehruTrophynicin" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
      <i class="socialicon fab fa-google-plus-g"></i>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.nic.ntbr2017&hl=en" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
      <i class="socialicon fab fa-android"></i>
    </a>

  </div>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse " id="collapsibleNavbar">

    <ul class="navbar-nav ml-auto ">

      <li class="nav-item">
        <a class="nav-link" routerLink='/home' routerLinkActive=' nav-active ' href="home">{{ 'nav.home' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/about' routerLinkActive=' nav-active ' href="about">{{ 'nav.about' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/contact' routerLinkActive=' nav-active ' href="contact">{{ 'nav.contact' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/gallery' routerLinkActive=' nav-active ' href="gallery">{{ 'nav.gallery' | translate }}</a>
      </li>

    </ul>
    <div class=" fontadjust">
      <span id="sizedown" class="fas fa-minus"></span>
      <span id="sizereset" class="fas fa-font"></span>
      <span id="sizeup" class="fas fa-plus"></span>
    </div>&nbsp;
  </div>
  <div class="hidden-md-down">
    <ul class="ml-auto">
      <li class="nav-item dropdown hidden-md-down">
        <a class="nav-link " href="#" id="navbardrop" data-toggle="dropdown">
          <div class="navbar-toggler-icon hamburger mr-auto" id="hamburger-6">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </a>
        <div class="dropdown-menu">
          <a class="nav-link " routerLink='/home' routerLinkActive=' nav-active ' href="home">{{ 'nav.home' | translate }}</a>
          <a class="nav-link " routerLink='/about' routerLinkActive=' nav-active ' href="about">{{ 'nav.about' | translate }}</a>
          <a class="nav-link " routerLink='/contact' routerLinkActive=' nav-active ' href="contact">{{ 'nav.contact' | translate }}</a>
          <a class="nav-link " routerLink='/gallery' routerLinkActive=' nav-active ' href="gallery">{{ 'nav.gallery' | translate }}</a>
          <p id="button-buy " class="nav-link" href="#">
            <span id="sizedown" class="fas fa-minus"></span>
            <span id="sizereset" class="fas fa-font"></span>
            <span id="sizeup" class="fas fa-plus"></span>
          </p>
          <a href="https://www.facebook.com/NehruTrophyNTBR" class="socialicon fab fa-facebook" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')"></a>
          <a href="https://www.youtube.com/c/NehruTrophynicin" class="socialicon fab fa-youtube" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')"></a>
          <a href="https://twitter.com/NehruTrophyNTBR" class="socialicon fab fa-twitter" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')"></a>
          <a href="https://www.instagram.com/nehrutrophy_boatrace/" class="socialicon fab fa-instagram" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')"></a>
          <a href="https://plus.google.com/+NehruTrophynicin" class="socialicon fab fa-google-plus-g" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')"></a>

          <a href="https://play.google.com/store/apps/details?id=com.nic.ntbr2017&hl=en" class="socialicon fab fa-android" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')"></a>

        </div>
      </li>

    </ul>
  </div>
  <!-- navbar ends -->
  <div id="languageSelection">
    <button (click)="useLanguage('en')" class=" languages languageSelected">ENGLISH</button>
    <button (click)="useLanguage('de')" class=" languages languagenotSelected">മലയാളം</button>
  </div>
</nav>