.socialBar{
  height: 0px;
  width: 100%;
}
.navbar-brand{
  border: 0 0 0 1px solid rgba(21, 21, 30, 0.7);
  padding: 0 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.socialicon{
  color: rgba(255,255,255, .5) !important;
}
.ntbrlogo{
  width: 50px;
  @media (max-width:480px){
    width: 25px;
  }
}
.statelogo{
  width: 50px;
  margin-left: 15px;
  @media (max-width:480px){
    width: 25px;
    margin-left: 5px;
  }
}
.icon-bar{
  display: inline;
  @media (max-width:480px){
    display: none;
  }
}

nav {
  border-bottom: 0px !important;
 padding:0px 10px;
  @media screen and (max-width: 768px){
     height: 50px;
  }
  .socialicon{
    font-size: 1em;
    color: white;
    margin:  5px;
    text-decoration: none;
    cursor: pointer;

    
  }
#languageSelection{
  opacity: 0.8;
  background-color: transparent;
  border: 1px solid rgb(29, 161, 242);
  border-radius:10px;
  overflow: hidden;
  .languages{
    border: none !important;
    box-shadow: 0;
    width: 120px;
    overflow: hidden;
    
  }
  .languageSelected{
   
    background: -webkit-linear-gradient(45deg, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    width: 90px;
    transition: all 0.5s ease-in-out; 
  }
 
  .languagenotSelected{
    background-color: transparent;
    width: 30px;
    overflow-x: hidden;
    color: rgb(29, 161, 242);
    transition: all 0.5s ease-in-out; 
  }
}
  .langbutt1{
    padding:0px 10px;
    font-weight: 800;
    color:white;
    background-color: transparent;
    border:none;
    border-right:1px solid rgba(255, 255, 255, 0.514);
    
  }

  .langbutt2{
    padding:0px 10px;
    font-weight: 600;
    color:white;
    border:none;
    background-color: transparent;
    
  }
  .langbutt2,.langbutt1:focus{
    outline:none;
  }
  .fa-facebook:hover{
    color: rgb(59,89,152) !important;
  }
  .fa-twitter:hover{
    color:  rgb(29, 161, 242) !important;
  }
  .fa-google-plus-g:hover{
    color: rgb(219, 68, 55) !important;
  }
  .fa-instagram:hover{
    color:  rgb(188, 42, 141) !important;
  }
  .fa-youtube:hover{
    color: rgb(255, 0, 0) !important;
  }
  .fa-android:hover{
    color: #A4C639 !important;
  }
}
.navbar-color{
    border-bottom-color: rgba(0,0,0,.2);
    ul li a{
        color: rgba(255, 255, 255, 0.7);
        @media (max-width: 768px){
          color:#15151e;
        }
        text-decoration: none;
    }
}
.navbar-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}


.nav-active{
  
    color:  rgba(7,197,245,1) !important;
  
}

.hidden-md-down{
  display: none;
  @media (max-width:768px){
    display: block;
  }
}
.dropdown-menu{
 margin-left: -50px;
}
.fontadjust{
  opacity: 0.7;
    padding: 3px 10px;
    background:transparent;
    transition:.2s ease-out .1s ;
    opacity:1!important;
    border:1px solid rgba(7,197,245,1);
    border-radius:10px;
    .fas{
      font-size: .7em;
    }
    /* border-radius:15px 0px 50px 20%; */
   span{
     
    padding:0px 5px;
   }
   span:hover{
    color:rgb(29, 161, 242) !important;
   }
  }

  .fontadjust:hover{
    opacity: 0.7;
    background: -webkit-linear-gradient(45deg, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius:50px;
  }
  .nav-link{
  transition: .5s ease-in-out .1s;
  font-family: 'Jura';
  border-radius:0px;
  border-top:4px solid transparent;
  padding:0px 5px;
  }

  .nav-link:not(.active ):not(#button-buy):hover{
  
  border-top:4px solid rgba(7,197,245,1);
  
  transition: .2s ease-in-out .1s;
  
  
  }

  
.hamburger .line{
    width: 20px;
    height:2px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }

 
#hamburger-6.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #hamburger-6.is-active .line:nth-child(2){
    width: 0px;
  }
  
  #hamburger-6.is-active .line:nth-child(1),
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  #hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }
  
  #hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-10px) rotate(90deg);
    -ms-transform: translateY(-10px) rotate(90deg);
    -o-transform: translateY(-10px) rotate(90deg);
    transform: translateY(-10px) rotate(90deg);
  }
