<nav class="navbar navbar-expand-md  navbar-fixed navbar-color glassBackground">
  <!-- Brand -->
  <a class="navbar-brand">
    <img src="/assets/ntbrlogo1.png" class="ntbrlogo"  alt="Logo">
    <img src="/assets/log_5.png" class="statelogo" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')"  alt="Kerala state Logo">
  </a>
  <div class="icon-bar">
    <a class="active" href="https://www.facebook.com/NehruTrophyNTBR" title="Visit our Facebook page"  onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
      <i class="socialicon fab fa-facebook"></i>
    </a>
    <a href="https://www.youtube.com/c/NehruTrophynicin"  title="Visit our Youtube page"  onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
      <i class="socialicon fab fa-youtube"></i>
    </a>
    <a href="https://twitter.com/NehruTrophyNTBR" title="Visit our Twitter page"  onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
      <i class="socialicon fab fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com/nehrutrophy_boatrace/"  title="Visit our Instagram page" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
      <i class="socialicon fab fa-instagram"></i>
    </a>
    <a href="https://plus.google.com/+NehruTrophynicin"  title="Visit our GooglePlus page" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
      <i class="socialicon fab fa-google-plus-g"></i>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.nic.ntbr2017&hl=en" title="Download our Android application"  onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
      <i class="socialicon fab fa-android"></i>
    </a>

  </div>
 
    <li class="smallmenu">
      <button class="btn  btn-primary"   type="button" data-toggle="collapse" data-target="#nav-small" aria-expanded="false" aria-controls="nav-small">
        menu
         </button>

    </li>
 
  <!-- Navbar links -->
  <div class="collapse navbar-collapse " id="collapsibleNavbar">

    <ul class="navbar-nav ml-auto ">

      <li class="nav-item">
        <a class="nav-link" routerLink='/home' routerLinkActive=' nav-active ' href="home">{{ 'nav.home' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/about' routerLinkActive=' nav-active ' href="about">{{ 'nav.about' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/contact' routerLinkActive=' nav-active ' href="contact">{{ 'nav.contact' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/gallery' routerLinkActive=' nav-active ' href="gallery">{{ 'nav.gallery' | translate }}</a>
      </li>

    </ul>
    <div class=" fontadjust">
      <span id="sizedown" class="fas fa-minus"></span>
      <span id="sizereset" class="fas fa-font"></span>
      <span id="sizeup" class="fas fa-plus"></span>
    </div>&nbsp;
  </div>
  <div class="btn-group btngroupPosition glassBackground collapse row" id="nav-small" role="navigation" aria-label="nav-small">
      <button type="button" class="btn btn-secondary" ><a class="nav-link" routerLink='/home' routerLinkActive=' nav-active ' href="home">{{ 'nav.home' | translate }}</a></button>
      <button type="button" class="btn btn-secondary"> <a class="nav-link" routerLink='/about' routerLinkActive=' nav-active ' href="about">{{ 'nav.about' | translate }}</a></button>
      <button type="button" class="btn btn-secondary"><a class="nav-link" routerLink='/contact' routerLinkActive=' nav-active ' href="contact">{{ 'nav.contact' | translate }}</a></button>
      <button type="button" class="btn btn-secondary"> <a class="nav-link" routerLink='/gallery' routerLinkActive=' nav-active ' href="gallery">{{ 'nav.gallery' | translate }}</a></button>
    </div>
  <!-- navbar ends -->
  <div id="languageSelection">
    <button (click)="useLanguage('en')" class=" languages languageSelected">ENGLISH</button>
    <button (click)="useLanguage('de')" class=" languages languagenotSelected">മലയാളം</button>
  </div>
</nav>