.pagelive{
  padding-top: 120px;
  background: #15151e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #20202e, #2d3042, #15151e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #20202e, #2d3042, #15151e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height:100vh; 
}

.carousel{
  margin: auto;
  // padding-top: 80px!important;
  overflow: hidden;
  width: 85% !important;
}

.topdiv1{
  padding:10px;
  height:50vh;
  // background: rgba(54, 54, 54, 0);

  img{
  max-height:100%;
  }
}



.topdiv3{
  // box-shadow:0px -5px 5px rgba(0, 0, 0, 0.116); 
  // background: linear-gradient(-45deg, #1a1335, #192433);
  // border:1px solid rgba(21, 169, 228, 0.253);
    height:50vh;
  .nf{
    height:40vh;
    overflow-y:scroll;
    overflow-x:hidden; 
  }

 
  h3{
      padding:5px;
      color:#f5f5f5;
      text-align:center;
      background-color:rgba(0, 0, 0, 0.295);
      border-radius:10px;
  }
  
}



.topdiv3 ul li{
  .list-group-item{
    background-color: #15151e;
    span{
      color:#fff;
    }
    h3{
      color: #fff;

    }
    p{
      
      color:#fff;
    }
  }
margin:3px;
padding:5px 10px;
cursor:pointer;
transition: .3s ease-out 0s;
border-radius:10px;
h3{ 
    margin:0px;
    color:rgb(121, 121, 121);
}
p{  margin:2px;
    color:rgb(161, 161, 161);
    height:20px;
    overflow:hidden;
    text-overflow: ellipsis;
    
}
.fa-long-arrow-alt-right{
  color:white;
  float:right;
}
}
.topdiv3 ul li:hover{
  
  border-left:5px solid #43cea2;
  .fa-long-arrow-alt-right{
    color:#185a9d;
  }
}
.topdiv3 ul li:focus{
  outline: none;
}
.row{
  margin:0px;
  padding:0px 5%;
}


.date{
  font-size: 1em;
  color:rgb(212, 212, 212);
  font-family:roboto;
  font-weight:500!important;
  width:100%;
  height:20px;
}

.listhead{
  color:rgb(80, 80, 80);
}
#watchliveLink{
text-align: center;
display: none;
}
.counter{
  margin-top:10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-top:3px solid rgba(16, 101, 134, 0.404);
  max-height:200px;
  background: linear-gradient(-45deg, #185a9d, #43cea2);

  
 h2{
   color:rgb(255, 255, 255);
   text-shadow:1px 1px 1px grey;
   padding:10px;
   font-family: roboto;
   font-size:1em;
   text-align:center;
   margin:0px;
   
 }
 p{
   text-align:center;
 }

 .lv{
   padding:1px 8px;
   border:1px solid #c0c0c0;
   border-radius:10px;
 
  
 }
}
@media screen and (min-width: 0px) and (max-width: 768px) 
{ 
  .topdiv1{
    height:30vh;
    background: rgba(54, 54, 54, 0);
    padding:5px!important;

  }
  
  .topdiv3{
    padding:0px;
   }  
   

}
.nf{
    padding-left:0px;
    height:40vh;
    overflow-y:scroll;
    overflow-x:hidden;
    border:none!important;
  }

  .clock{
    position:relative;
    margin:0px;
    transform: scale(.4);
    }

  .countr{
    margin-left:-150px;
  }  


.clock{
  position: relative;
  color: rgb(48, 48, 48);
  margin: 30px auto;
  width:650px;
  // transform: scale(.8);
  .flip-clock-label{
    font-size:3em;
    color:white;
  }
  }
 
