<div class="page-about fullpage-view ">

    <div class="contentBox" id="contact-NTBR">
        <h1 class="header">{{ 'contact.head1' | translate }}</h1>
        <div class="pageContent container">
            <div class="row justify-center">

                <div class="patronCard col-md-12">

                    <img src="/assets/ntbrsociety/pina.jpg" class="img-fluid" alt="">
                    <p>
                        {{ 'contact.pcap1' | translate }}
                    </p>
                    <p> {{ 'contact.pdes1' | translate }}</p>
                </div>

                <div class="col-md-12"></div>
                <div class="patronCard col-md-3 ">
                    <img src="/assets/ntbrsociety/profile-1.jpg" class="img-fluid" alt="">
                    <p>
                        {{ 'contact.pcap2' | translate }}
                    </p>
                    <p>
                        {{ 'contact.pdes2' | translate }}
                    </p>
                </div>
                <div class="patronCard col-md-3">
                    <img src="/assets/ntbrsociety/thomas.jpg" class="img-fluid" alt="">
                    <p>
                        {{ 'contact.pcap3' | translate }}
                    </p>
                    <p>
                        {{ 'contact.pdes3' | translate }}
                    </p>
                </div>
                <div class="patronCard col-md-3">
                    <img src="/assets/ntbrsociety/PThilothaman.jpg" class="img-fluid" alt="">
                    <p>
                        {{ 'contact.pcap4' | translate }}
                    </p>
                    <p>
                        {{ 'contact.pdes4' | translate }}
                    </p>
                </div>
                <div class="patronCard col-md-3">
                    <img src="/assets/ntbrsociety/remesh.jpg" class="img-fluid" alt="">
                    <p>
                        {{ 'contact.pcap5' | translate }}
                    </p>
                    <p>
                        {{ 'contact.pdes5' | translate }}
                    </p>
                </div>
                <div class="patronCard col-md-3">
                    <img src="/assets/ntbrsociety/kc.jpg" class="img-fluid" alt="">
                    <p>
                        {{ 'contact.pcap6' | translate }}
                    </p>
                    <p>
                        {{ 'contact.pdes6' | translate }}
                    </p>
                </div>
                <div class="patronCard col-md-3">
                    <img src="/assets/ntbrsociety/kodukunnill.jpg" class="img-fluid" alt="">
                    <p>
                        {{ 'contact.pcap7' | translate }}

                    </p>
                    <p>
                        {{ 'contact.pdes7' | translate }}
                    </p>
                </div>
                <div class="patronCard col-md-3">
                    <img src="/assets/ntbrsociety/Suhas.jpg" class="img-fluid" alt="">
                    <p>
                        {{ 'contact.pcap9' | translate }}
                    </p>
                    <p>
                        {{ 'contact.pdes9' | translate }}
                    </p>
                </div>
                <div class="patronCard col-md-3">
                    <img src="/assets/ntbrsociety/teja.jpg" class="img-fluid" alt="">
                    <p>
                        {{ 'contact.pcap10' | translate }}
                    </p>
                    <p>
                        {{ 'contact.pdes10' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contentBox" id="contact-wtc">
        <h1 class="header">{{ 'contact.head2' | translate }}</h1>
        <div class="pageContent container">
            <div class=" row justify-space-around">
                <div class="glassBackground contactCard col-lg-5 col-md-8 col-sm-12">
                    <h6>
                        <strong> {{ 'contact.small1' | translate }} </strong>
                    </h6>
                    <hr>
                    <p> {{ 'contact.smalldes1' | translate }}</p>
                    <p class="sub-content">
                        <span class="fa contact-icon fa-phone" aria-hidden="true"></span> 0477 - 2251720
                        <span class="fa contact-icon fa-mobile"></span> 9447129011</p>
                    <p class="sub-content">
                        <span class="fa contact-icon fa-envelope" aria-hidden="true"></span> dcalp.ker@nic.in , nehrutrophy@kerala.nic.in</p>
                    <br>
                    <h6>
                        <strong>{{ 'contact.small2' | translate }} </strong>
                    </h6>
                    <hr>
                    <p class="sub-content">{{ 'contact.smalldes2' | translate }}</p>
                    <p class="sub-content">
                        <span class="fa contact-icon fa-phone" aria-hidden="true"></span> 0477 - 2263441
                        <span class="fa contact-icon fa-mobile"></span>9447495002</p>
                    <p class="sub-content">{{ 'contact.smalldes3' | translate }}</p>
                    <p class="sub-content">
                        <span class="fa contact-icon fa-fax"></span> 0477 - 2263441(FAX) </p>
                    <p class="sub-content">{{ 'contact.smalldes3' | translate }}</p>
                    <p class="sub-content">
                        <span class="fa contact-icon fa-mobile"></span> 9995056016</p>
                </div>
                <div class=" col-lg-5 col-md-8">
                    <div class="col-md-12 glassBackground contactCard">
                        <h6>
                            <strong>{{ 'contact.small3' | translate }}</strong>
                        </h6>
                        <hr>
                        <p class="sub-content">
                            <span class="fa contact-icon fa-phone" aria-hidden="true"></span> 0477-2239161</p>
                        <p class="sub-content">
                            <span class="fa contact-icon fa-phone" aria-hidden="true"></span>100</p>
                        <p class="sub-content">
                            <span class="fa contact-icon fa-phone" aria-hidden="true"></span>1090</p>
                        <p class="sub-content">
                            <span class="fa contact-icon fa-phone" aria-hidden="true"></span>1091</p>
                    </div>
                    <br>
                    <div class="col-md-12 glassBackground contactCard">
                        <h6>
                            <strong>{{ 'contact.small4' | translate }}</strong>
                        </h6>
                        <hr>
                        <p class="sub-content">{{ 'contact.smalldes4' | translate }}</p>
                        <p class="sub-content">
                            <span class="fa contact-icon fa-mobile" aria-hidden="true"></span> 9400051796</p>
                        <p class="sub-content">
                            <span class="fa contact-icon fa-phone" aria-hidden="true"></span> 0477-2253308</p>
                        <p class="sub-content">
                            <span class="fa contact-icon fa-envelope" aria-hidden="true"></span> Email : dtpcalpy@yahoo.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contentBox " id="contact-committee">
        <h1 class="header">{{ 'committee.mainhead' | translate }}</h1>
        <div class="pageContent container">
            <div class=" row  committeeContainer">
                <table class="table table-hover committee-table table-borderless glassBackground">
                    <thead>
                        <tr>
                            <th>{{ 'contact.ahead1' | translate }}</th>
                            <th>{{ 'contact.ahead2' | translate }}</th>
                            <th>{{ 'contact.ahead3' | translate }}</th>
                            <th>{{ 'contact.ahead4' | translate }}</th>
                            <th>{{ 'contact.ahead5' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ 'contact.bhead1' | translate }}</td>
                            <td>{{ 'contact.bhead2' | translate }}</td>
                            <td>{{ 'contact.bhead3' | translate }}</td>
                            <td>{{ 'contact.bhead4' | translate }}</td>
                            <td>9447495002</td>
                        </tr>
                        <tr>
                            <td>{{ 'contact.chead1' | translate }}</td>
                            <td>{{ 'contact.chead2' | translate }}</td>
                            <td>{{ 'contact.chead3' | translate }}</td>
                            <td>{{ 'contact.chead4' | translate }}</td>
                            <td>9447145007</td>
                        </tr>
                        <tr>
                            <td>{{ 'contact.dhead1' | translate }}</td>
                            <td>{{ 'contact.dhead2' | translate }}</td>
                            <td>{{ 'contact.dhead3' | translate }}</td>
                            <td>{{ 'contact.dhead4' | translate }}</td>
                            <td>9447495002</td>
                        </tr>
                        <tr>
                            <td>{{ 'contact.ehead1' | translate }}</td>
                            <td>{{ 'contact.ehead2' | translate }}</td>
                            <td>{{ 'contact.ehead3' | translate }}</td>
                            <td>{{ 'contact.ehead4' | translate }}</td>
                            <td>9447495001</td>
                        </tr>
                        <tr>
                            <td>{{ 'contact.fhead1' | translate }}</td>
                            <td>{{ 'contact.fhead2' | translate }}</td>
                            <td>{{ 'contact.fhead3' | translate }}</td>
                            <td>{{ 'contact.fhead4' | translate }}</td>
                            <td>9496003212</td>
                        </tr>
                        <tr>
                            <td>{{ 'contact.ghead1' | translate }}</td>
                            <td>{{ 'contact.ghead2' | translate }}</td>
                            <td>{{ 'contact.ghead3' | translate }}</td>
                            <td>{{ 'contact.ghead4' | translate }}</td>
                            <td>9447495005</td>
                        </tr>
                        <tr>
                            <td>{{ 'contact.hhead1' | translate }}</td>
                            <td>{{ 'contact.hhead2' | translate }}</td>
                            <td>{{ 'contact.hhead3' | translate }}</td>
                            <td>{{ 'contact.hhead4' | translate }}</td>
                            <td>9446363935</td>
                        </tr>
                        <tr>
                            <td>{{ 'contact.ihead1' | translate }}</td>
                            <td>{{ 'contact.ihead2' | translate }}</td>
                            <td>{{ 'contact.ihead3' | translate }}</td>
                            <td>{{ 'contact.ihead4' | translate }}</td>
                            <td>9447033961</td>
                        </tr>
                        <tr>
                            <td>{{ 'contact.jhead1' | translate }}</td>
                            <td>{{ 'contact.jhead2' | translate }}</td>
                            <td>{{ 'contact.jhead3' | translate }}</td>
                            <td>{{ 'contact.jhead4' | translate }}</td>
                            <td>9446559585</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="contentBox" id="contact-location">
        <h1 class="header">{{ 'location.mainhead' | translate }}</h1>
        <div class="pageContent container">
            <div class=" row justify-space-around">



                <div class="contactCard glassBackground col-sm-12 col-md-5">

                    <iframe id="I1" frameborder="0" height="100%" width="100%" marginheight="0" marginwidth="0" name="I1" scrolling="no" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Nehru+Trophy+Boat+Race+Finishing+Point,+Alappuzha,+Kerala,+India&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=33.435463,56.513672&amp;ie=UTF8&amp;hq=Nehru+Trophy+Boat+Race+Finishing+Point,&amp;hnear=Alappuzha,+Kerala,+India&amp;ll=9.500805,76.35336&amp;spn=0.022961,0.05911&amp;output=embed"></iframe>
                    <div id="map-container" class="z-depth-1"></div>

                </div>
                <div class=" contactCard glassBackground col-md-5">
                    <h5>
                        <strong>{{ 'location.locationhead1' | translate }}</strong>
                    </h5>
                    <hr>
                    <p class="sub-content">
                        <i class="fa fa-plane"></i> {{ 'location.distance1' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-road"></i> {{ 'location.distance2' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-road"></i> {{ 'location.distance3' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-road"></i> {{ 'location.distance4' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-train"></i> {{ 'location.distance5' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-bus"></i> {{ 'location.distance6' | translate }}</p>
                </div>
                <div class=" contactCard glassBackground col-md-5">
                    <h5>
                        <strong>{{ 'location.locationhead2' | translate }}</strong>
                    </h5>
                    <hr>
                    <p class="sub-content">
                        <i class="fa fa-map-marker"></i>
                        <strong> {{ 'location.vchtitle1' | translate }} :</strong>
                        {{ 'location.vchdata1' | translate }} </p>
                    <p class="sub-content">
                        <i class="fa fa-map-marker"></i>
                        <strong>{{ 'location.vchtitle2' | translate }} :</strong>
                        {{ 'location.vchdata2' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-map-marker"></i>
                        <strong> {{ 'location.vchtitle3' | translate }} :</strong>
                        {{ 'location.vchdata3' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-map-marker"></i>
                        <strong> {{ 'location.vchtitle4' | translate }} :</strong>
                        {{ 'location.vchdata4' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-map-marker"></i>
                        <strong> {{ 'location.vchtitle5' | translate }} :</strong> {{ 'location.vchdata5' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-map-marker"></i>
                        <strong> {{ 'location.vchtitle6' | translate }} :</strong>
                        {{ 'location.vchdata6' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-map-marker"></i>
                        <strong> {{ 'location.vchtitle7' | translate }} :</strong>
                        {{ 'location.vchdata7' | translate }}</p>




                </div>
                <div class=" contactCard glassBackground col-md-5">
                    <h5>
                        <strong>{{ 'location.locationhead3' | translate }}</strong>
                    </h5>
                    <hr>
                    <p class="sub-content">
                        <i class="fa fa-ticket-alt"></i>
                        <strong> {{ 'location.thtitle1' | translate }} :</strong>
                        {{ 'location.thdata1' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-ticket-alt"></i>
                        <strong> {{ 'location.thtitle2' | translate }} :</strong>
                        {{ 'location.thdata2' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-ticket-alt"></i>
                        <strong> {{ 'location.thtitle3' | translate }} :</strong>
                        {{ 'location.thdata3' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-ticket-alt"></i>
                        <strong> {{ 'location.thtitle4' | translate }} :</strong>
                        {{ 'location.thdata4' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-ticket-alt"></i>
                        <strong> {{ 'location.thtitle5' | translate }} :</strong>
                        {{ 'location.thdata5' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-ticket-alt"></i>
                        <strong> {{ 'location.thtitle6' | translate }} :</strong>
                        {{ 'location.thdata6' | translate }}</p>
                    <p class="sub-content">
                        <i class="fa fa-ticket-alt"></i>
                        <strong> {{ 'location.thtitle7' | translate }} :</strong>
                        {{ 'location.thdata7' | translate }}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="contentBox" id="contact-dod">
        <h1 class="header">{{ 'dod.mainhead' | translate }}</h1>
        <div class="pageContent container">
            <div class=" row justify-space-around">
                <div class="contactCard glassBackground col-lg-6 col-md-10">

                    <h6>
                        <strong>{{ 'dod.head1' | translate }}</strong>
                    </h6>
                    <hr>
                    <p>
                        <span class="fa contact-icon fa-check" aria-hidden="true"> </span> {{ 'dod.head1a' | translate }}</p>
                    <p>
                        <span class="fa contact-icon fa-check" aria-hidden="true"> </span> {{ 'dod.head1b' | translate }}</p>
                    <p>
                        <span class="fa contact-icon fa-check" aria-hidden="true"> </span> {{ 'dod.head1c' | translate }}</p>
                    <p>
                        <span class="fa contact-icon fa-check" aria-hidden="true"> </span> {{ 'dod.head1d' | translate }}</p>
                    <p>
                        <span class="fa contact-icon fa-check" aria-hidden="true"> </span> {{ 'dod.head1e' | translate }}
                    </p>
                    <p>
                        <span class="fa contact-icon fa-check" aria-hidden="true"> </span> {{ 'dod.head1f' | translate }}
                    </p>
                    <p>
                        <span class="fa contact-icon fa-check" aria-hidden="true"> </span> {{ 'dod.head1g' | translate }}
                    </p>
                    <p>
                        <span class="fa contact-icon fa-check" aria-hidden="true"> </span> {{ 'dod.head1h' | translate }}</p>
                    <p>
                        <span class="fa contact-icon fa-check" aria-hidden="true"> </span> {{ 'dod.head1i' | translate }}
                    </p>
                    <p>
                        <span class="fa contact-icon fa-check" aria-hidden="true"> </span> {{ 'dod.head1j' | translate }}
                    </p>
                    <p>
                        <span class="fa contact-icon fa-check" aria-hidden="true"> </span> {{ 'dod.head1k' | translate }}</p>
                    <p>
                        <span class="fa contact-icon fa-check" aria-hidden="true"> </span> {{ 'dod.head1l' | translate }}
                    </p>
                    <p>
                        <span class="fa contact-icon fa-check" aria-hidden="true"> </span> {{ 'dod.head1m' | translate }}</p>
                </div>
                <div class="contactCard glassBackground col-lg-4 col-md-8">
                    <h6>
                        <strong>{{ 'dod.head2' | translate }}</strong>
                    </h6>
                    <hr>
                    <p>
                        <span class="fa contact-icon fa-ban" aria-hidden="true"> </span> {{ 'dod.head2a' | translate }}</p>
                    <p>
                        <span class="fa contact-icon fa-ban" aria-hidden="true"> </span> {{ 'dod.head2b' | translate }}</p>
                    <p>
                        <span class="fa contact-icon fa-ban" aria-hidden="true"> </span> {{ 'dod.head2c' | translate }}</p>
                    <p>
                        <span class="fa contact-icon fa-ban" aria-hidden="true"> </span> {{ 'dod.head2d' | translate }}</p>
                    <p>
                        <span class="fa contact-icon fa-ban" aria-hidden="true"> </span> {{ 'dod.head2e' | translate }}</p>
                    <p>
                        <span class="fa contact-icon fa-ban" aria-hidden="true"> </span> {{ 'dod.head2f' | translate }}</p>
                </div>

            </div>
        </div>
    </div>
    <div class="contentBox" id="contact-hotels">
        <h1 class="header">{{ 'hotels.mainhead' | translate }}</h1>
        <div class="pageContent container">
            <div class=" row justify-space-around">
                <table class="table table-hover committee-table table-borderless glassBackground">
                    <thead>
                        <tr>
                            <th>{{ 'hotels.head1' | translate }}</th>
                            <th>{{ 'hotels.head2' | translate }}</th>
                            <th>{{ 'hotels.head3' | translate }} (Access code 91-477)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>{{ 'hotels.head2a' | translate }}</td>
                            <td>2243752</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>{{ 'hotels.head2b' | translate }}</td>
                            <td>2235004</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>{{ 'hotels.head2c' | translate }}</td>
                            <td>2239767</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>{{ 'hotels.head2d' | translate }}</td>
                            <td>2239701</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>{{ 'hotels.head2e' | translate }}</td>
                            <td>2232040</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>{{ 'hotels.head2f' | translate }}</td>
                            <td>2264828</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>{{ 'hotels.head2g' | translate }}</td>
                            <td>2263408</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>{{ 'hotels.head2h' | translate }}</td>
                            <td>2233690</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>{{ 'hotels.head2i' | translate }}</td>
                            <td>2251354</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>{{ 'hotels.head2j' | translate }}</td>
                            <td>2243631</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>{{ 'hotels.head2k' | translate }}</td>
                            <td>2244460</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>{{ 'hotels.head2l' | translate }}</td>
                            <td>2258462</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>{{ 'hotels.head2m' | translate }}</td>
                            <td>2254275</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>{{ 'hotels.head2n' | translate }}</td>
                            <td>2235938</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>{{ 'hotels.head2o' | translate }}</td>
                            <td>2236950</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>{{ 'hotels.head2p' | translate }}</td>
                            <td>2251697</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>{{ 'hotels.head2q' | translate }}</td>
                            <td>2230224</td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>{{ 'hotels.head2r' | translate }}</td>
                            <td>2251653</td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td>{{ 'hotels.head2s' | translate }}</td>
                            <td>2251931</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>{{ 'hotels.head2t' | translate }}</td>
                            <td>2264444</td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>
    </div>

    <div class="contentBox" id="contact-feedback">
        <h1 class="header">{{ 'feedback.mainhead' | translate }}</h1>
        <div class="pageContent container">
            <div class=" row justify-space-around">
                <div class="glassBackground contactCard feedbackContainer ">
                    <h5>{{ 'feedback.title' | translate }}
                    </h5>
                    <br>
                    <span>nehrutrophy[at]kerala[dot]nic[dot]in</span>
                    <br>
                    <span>
                        <strong>{{ 'feedback.or' | translate }}</strong>
                    </span>
                    <br>
                    <span>keralp[at]nic[dot]in</span>
                    <br>
                    <br>
                    <div class="feedbackCard ">
                        <button (click)="OpenfeedbackForm()" type="button" class="btn btn-primary">{{ 'feedback.sendfeedback' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navContainer">
        <div class="verticalNav " id="contactNavigation">
            <ul class="aboutList list-unstyled glassBackground ml-auto">
                <li class="aboutListItem verticalListItem1 active">
                    <a href="#contact-NTBR" class="selected">{{ 'contact.head1' | translate }}</a>
                </li>
                <li class="aboutListItem verticalListItem2">
                    <a href="#contact-wtc">{{ 'contact.head2' | translate }}</a>
                </li>
                <li class="aboutListItem verticalListItem4">
                    <a href="#contact-committee">{{ 'committee.mainhead' | translate }}</a>
                </li>
                <li class="aboutListItem verticalListItem3">
                    <a href="#contact-location">{{ 'location.mainhead' | translate }}</a>
                </li>
                <li class="aboutListItem verticalListItem4">
                    <a href="#contact-dod">{{ 'dod.mainhead' | translate }}</a>
                </li>
                <li class="aboutListItem verticalListItem3">
                    <a href="#contact-hotels">{{ 'hotels.mainhead' | translate }}</a>
                </li>
                <li class="aboutListItem verticalListItem4">
                    <a href="#contact-feedback">{{ 'feedback.mainhead' | translate }}</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<app-footer></app-footer>