<div class="page-about mb-450 fullpage-view ">
    <div class="contentBasediv">
        <div class="contentContainer">
            <div class="contentBox" id="contact-NTBR">
                <h1 class="header">NTBR SOCIETY</h1>
                <div class="pageContent container">
                    <div class="row justify-center">

                        <div class="patronCard">

                            <img src="/assets/ntbrsociety/pina.jpg" class="img-fluid" alt="">
                            <p>
                                Sri. Pinarayi Vijayan
                            </p>
                            <p> Hon’ble Chief Minister of Kerala</p>
                        </div>

                        <div class="col-md-12"></div>
                        <div class="patronCard col-md-3 col-md-3">
                            <img src="/assets/ntbrsociety/profile-1.jpg" class="img-fluid" alt="">
                            <p>
                                Sri. G Sudhakaran
                            </p>
                            <p>
                                Minister of Public Works and Registration
                            </p>
                        </div>
                        <div class="patronCard col-md-3">
                            <img src="/assets/ntbrsociety/thomas.jpg" class="img-fluid" alt="">
                            <p>
                                Dr. T.M Thomas Isaac
                            </p>
                            <p>
                                Minister for Finance & Coir
                            </p>
                        </div>
                        <div class="patronCard col-md-3">
                            <img src="/assets/ntbrsociety/PThilothaman.jpg" class="img-fluid" alt="">
                            <p>
                                Sri. P Thilothaman
                            </p>
                            <p>
                                Minister of Food & Civil Supplies
                            </p>
                        </div>
                        <div class="patronCard col-md-3">
                            <img src="/assets/ntbrsociety/remesh.jpg" class="img-fluid" alt="">
                            <p>
                                Sri. Ramesh Chennithala
                            </p>
                            <p>
                                Leader of Opposition
                            </p>
                        </div>
                        <div class="patronCard col-md-3">
                            <img src="/assets/ntbrsociety/kc.jpg" class="img-fluid" alt="">
                            <p>
                                Sri. KC Venugopal
                            </p>
                            <p>
                                MP
                            </p>
                        </div>
                        <div class="patronCard col-md-3">
                            <img src="/assets/ntbrsociety/kodukunnill.jpg" class="img-fluid" alt="">
                            <p>
                                Sri. Kodikkunnil Suresh
                            </p>
                            <p>
                                MP
                            </p>
                        </div>
                        <div class="patronCard col-md-3">
                            <img src="/assets/ntbrsociety/mla_thomas_chandy.jpg" class="img-fluid" alt="">
                            <p>

                                Sri. Thomas Chandy
                            </p>
                            <p>
                                MLA
                            </p>
                        </div>
                        <div class="col-md-12"></div>
                        <div class="patronCard col-md-3">
                            <img src="/assets/ntbrsociety/Suhas.jpg" class="img-fluid" alt="">
                            <p><strong>Chairman</strong></p>
                            <p>
                                Sri. Suhas S IAS
                            </p>
                            
                            <p>
                                District Collector, Alappuzha
                            </p>
                        </div>
                        <div class="patronCard col-md-3">
                            <img src="/assets/ntbrsociety/teja.jpg" class="img-fluid" alt="">
                            <p><strong>Secretary</strong></p>
                            <p>
                                Sri. VR Krishna Teja IAS
                            </p>
                            <p>
                                Sub Collector, Alappuzha
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentBox" id="contact-wtc">
                <h1 class="header">WHOM TO CONTACT</h1>
                <div class="pageContent container">
                    <div class=" row justify-space-around">
                        <div class="glassBackground contactCard col-lg-5 col-md-8 col-sm-12">
                            <h6>
                                <strong>CHAIRMAN </strong>
                            </h6>
                            <hr>
                            <p> DISTRICT COLLECTOR, ALAPPUZHA</p>
                            <p class="sub-content">
                                <span class="fa contact-icon fa-phone" aria-hidden="true"></span> 0477 - 2251720
                                <span class="fa contact-icon fa-mobile"></span> 9447129011</p>
                            <p class="sub-content">
                                <span class="fa contact-icon fa-envelope" aria-hidden="true"></span> dcalp.ker@nic.in , nehrutrophy@kerala.nic.in</p>
                            <br>
                            <h6>
                                <strong>SECRETARY </strong>
                            </h6>
                            <hr>
                            <p class="sub-content">REVENUE DIVISIONAL OFFICER, ALAPPUZHA</p>
                            <p class="sub-content">
                                <span class="fa contact-icon fa-phone" aria-hidden="true"></span> 0477 - 2263441
                                <span class="fa contact-icon fa-mobile"></span>9447495002</p>
                            <p class="sub-content">NEHRU TROPHY BOAT RACE SOCIETY</p>
                            <p class="sub-content">
                                <span class="fa contact-icon fa-fax"></span> 0477 - 2263441(FAX) </p>
                            <p class="sub-content">VINOD KG, OFFICE SECRETARY, ALAPPUZHA</p>
                            <p class="sub-content">
                                <span class="fa contact-icon fa-mobile"></span> 9995056016</p>
                        </div>
                        <div class=" col-lg-5 col-md-8">
                            <div class="col-md-12 glassBackground contactCard">
                                <h6>
                                    <strong>EMERGENCY SECURITY NUMBERS</strong>
                                </h6>
                                <hr>
                                <p class="sub-content">
                                    <span class="fa contact-icon fa-phone" aria-hidden="true"></span> 0477-2239161</p>
                                <p class="sub-content">
                                    <span class="fa contact-icon fa-phone" aria-hidden="true"></span>100</p>
                                <p class="sub-content">
                                    <span class="fa contact-icon fa-phone" aria-hidden="true"></span>1090</p>
                                <p class="sub-content">
                                    <span class="fa contact-icon fa-phone" aria-hidden="true"></span>1091</p>
                            </div>
                            <br>
                            <div class="col-md-12 glassBackground contactCard">
                                <h6>
                                    <strong>FOR TOURISM RELATED INFORMATION</strong>
                                </h6>
                                <hr>
                                <p class="sub-content">DTPC Information Office</p>
                                <p class="sub-content">
                                    <span class="fa contact-icon fa-mobile" aria-hidden="true"></span> 9400051796</p>
                                <p class="sub-content">
                                    <span class="fa contact-icon fa-phone" aria-hidden="true"></span> 0477-2253308</p>
                                <p class="sub-content">
                                    <span class="fa contact-icon fa-envelope" aria-hidden="true"></span> Email : dtpcalpy@yahoo.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentBox ">
                <h1 class="header">COMMITTEES</h1>
                <div class="pageContent container">
                    <div class=" row justify-space-around committeeContainer">
                        <table class="table table-hover committee-table table-borderless glassBackground">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>NAME OF COMMITTEE</th>
                                    <th>NAME OF CONVENER</th>
                                    <th>OFFICE ADDRESS</th>
                                    <th>Phone No</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Finance Committee</td>
                                    <td>RDO, Alappuzha</td>
                                    <td>Revenue Divisional Office, Alappuzha</td>
                                    <td>9447495002</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Infrastructure Committee</td>
                                    <td>Executve Engineer(Irrigation), Alappuzha</td>
                                    <td>Irrigation Ex.Engineer Office, Alappuzha</td>
                                    <td>9447145007</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sponsorship Committee</td>
                                    <td>RDO, Alappuzha</td>
                                    <td>Revenue Divisional Office, Alappuzha</td>
                                    <td>9447495002</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Souvenir Committee</td>
                                    <td>Addl. District Magistrate Alappuzha</td>
                                    <td>Collectorate, Alappuzha</td>
                                    <td>9447495001</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Publicity Committee</td>
                                    <td>District Information Officer Alappuzha</td>
                                    <td>District Information Office, Alappuzha</td>
                                    <td>9496003212</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Food Committee</td>
                                    <td>Tahsildar, Ambalappuzha, Alappuzha</td>
                                    <td>Taluk Office, Ambalappuzha, Alappuzha</td>
                                    <td>9447495005</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Cultural Committee</td>
                                    <td>Municipal Chairperson, Alappuzha</td>
                                    <td>Municipal Office, Alappuzha</td>
                                    <td>9446363935</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Transport Committee</td>
                                    <td>Inspector of Boats, Alappuzha</td>
                                    <td>Office of the Inspector of Boats, Alappuzha</td>
                                    <td>9447033961</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>IT Committee</td>
                                    <td>District Informatics Officer, Alappuzha</td>
                                    <td>National Informatics Centre, Collectorate, Alappuzha</td>
                                    <td>9446559585</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="contentBox" id="contact-location">
                <h1 class="header">LOCATION</h1>
                <div class="pageContent container">
                    <div class=" row justify-space-around">



                        <div class="contactCard glassBackground col-sm-12 col-md-5">

                            <iframe id="I1" frameborder="0" height="100%" width="100%" marginheight="0" marginwidth="0" name="I1" scrolling="no" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Nehru+Trophy+Boat+Race+Finishing+Point,+Alappuzha,+Kerala,+India&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=33.435463,56.513672&amp;ie=UTF8&amp;hq=Nehru+Trophy+Boat+Race+Finishing+Point,&amp;hnear=Alappuzha,+Kerala,+India&amp;ll=9.500805,76.35336&amp;spn=0.022961,0.05911&amp;output=embed"></iframe><div id="map-container" class="z-depth-1"></div>

                        </div>
                        <div class=" contactCard glassBackground col-md-5">
                            <h5>
                                <strong>DISTANCE</strong>
                            </h5>
                            <hr>
                            <p class="sub-content">
                                <i class="fa fa-plane"></i> 80 Km south of Cochin International air port . 70 minutes journey by N.H 47</p>
                            <p class="sub-content">
                                <i class="fa fa-road"></i> 60 Km South of Cochi . An hour's drive from Cochi by N.H.47</p>
                            <p class="sub-content">
                                <i class="fa fa-road"></i> 170 Km North of Kovalam . 3 & 1/2 hour's journey by N.H 47</p>
                            <p class="sub-content">
                                <i class="fa fa-road"></i> 125 Km West of Thekkady . 3 hour's journey by N.H 47</p>
                            <p class="sub-content">
                                <i class="fa fa-train"></i> From Alappuzha Railway station to venue about 5 Km</p>
                            <p class="sub-content">
                                <i class="fa fa-bus"></i> From Alappuzha K.S.R.T.C Bus station to venue-Walkable distance</p>
                        </div>
                        <div class=" contactCard glassBackground col-md-5">
                            <h5>
                                <strong>Vechiles coming from</strong>
                            </h5>
                            <hr>
                            <p class="sub-content">
                                <i class="fa fa-map-marker"></i>
                                <strong> Ernakulam Side :</strong>
                                Turn left after Shavakkotta Bridge (Power House Bridge) → YMCA Bridge → Turn Right→ Parking at Municipal Stadium / North
                                bank of Canal </p>
                            <p class="sub-content">
                                <i class="fa fa-map-marker"></i>
                                <strong> Railway Station, Alappuzha :</strong>
                                Railway Station → Medical College Junction (General Hospital) → Turn left → YMCABridge → Turn Right → Parking at Municipal
                                Stadium / North Bank of Canal</p>
                            <p class="sub-content">
                                <i class="fa fa-map-marker"></i>
                                <strong> Kottayam :</strong>
                                NH 47 → Medical College Junction (General Hospital) → YMCA Bridge → Turn Right →Parking at Municipal Stadium / North Bank
                                of Canal</p>
                            <p class="sub-content">
                                <i class="fa fa-map-marker"></i>
                                <strong> Thiruvananthapuram :</strong>
                                NH 47 → Medical College Junction (General Hospital) → YMCA Bridge → Turn Right →Parking at Municipal Stadium / North Bank
                                of Canal Reaching the Pavilions: BoatServices will not be available from 12 Noon.</p>
                            <p class="sub-content">
                                <i class="fa fa-map-marker"></i>
                                <strong> Hon.ministers,Judges, & Principal Secretaries:</strong> Lake Palace Amenity Jetty East of
                                KSRTC bus station</p>
                            <p class="sub-content">
                                <i class="fa fa-map-marker"></i>
                                <strong> Acredited Press Persons:</strong>
                                DTPC Jetty Entry Point (2)</p>
                            <p class="sub-content">
                                <i class="fa fa-map-marker"></i>
                                <strong> Sponsers & Special invites:</strong>
                                DTPC Jetty Entry Point 2 (A)</p>



                        </div>
                        <div class=" contactCard glassBackground col-md-5">
                            <h5>
                                <strong>Tourist Ticket Holders :</strong>
                            </h5>
                            <hr>
                            <p class="sub-content">
                                <i class="fa fa-ticket"></i>
                                <strong> Tourist Gold – (Rs.2000/-)</strong>
                                District Court Bridge → Finishing Point Road → Gate No.(6)</p>
                            <p class="sub-content">
                                <i class="fa fa-ticket"></i>
                                <strong> Tourist Gold – (Rs.1000/-)</strong>
                                District Court Bridge → Finishing Point Road → Gate No.(7)</p>
                            <p class="sub-content">
                                <i class="fa fa-ticket"></i>
                                <strong> Rose Corner - Ticket Holders ( Rs.500/- & Rs.300/-)</strong>
                                Board boats from SWTD Boat Jetty</p>
                            <p class="sub-content">
                                <i class="fa fa-ticket"></i>
                                <strong> Victory Lane - Ticket Holders ( Rs.200/-)</strong>
                                District Court Bridge → Finishing Point Road → Gate No.(8)</p>
                            <p class="sub-content">
                                <i class="fa fa-ticket"></i>
                                <strong> Lake View – (Rs.100/-)</strong>
                                District Court Bridge → Finishing Point Road → Gate No.(9) & (9A)</p>
                            <p class="sub-content">
                                <i class="fa fa-ticket"></i>
                                <strong> Lawn</strong>
                                District Court Bridge → Finishing Point Road → Gate No.(10)</p>
                            <p class="sub-content">
                                <i class="fa fa-ticket"></i>
                                <strong> All View :</strong>
                                District Court Bridge → Turn East → By road through South Bank of Canal → SWTD dockyard Ponjikkara bridge.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="contentBox" id="contact-dod">
                <h1 class="header">DO'S & DONT'S</h1>
                <div class="pageContent container">
                    <div class=" row justify-space-around">
                        <div class="contactCard glassBackground col-lg-6 col-md-10">

                            <h6>
                                <strong>DO'S</strong>
                            </h6>
                            <hr>
                            <p>
                                <span class="fa contact-icon fa-check" aria-hidden="true"> </span> Purchase tickets from authorized retail outlets (through Govt. depts. And tourism
                                information office– authorized ticket counter)</p>
                            <p>
                                <span class="fa contact-icon fa-check" aria-hidden="true"> </span> Please check the tickets for authorized seal of the committee and serial number</p>
                            <p>
                                <span class="fa contact-icon fa-check" aria-hidden="true"> </span> Authorized counters can be identified with banners having logo of NTBR</p>
                            <p>
                                <span class="fa contact-icon fa-check" aria-hidden="true"> </span> Try to reach Alappuzha by 9 AM</p>
                            <p>
                                <span class="fa contact-icon fa-check" aria-hidden="true"> </span> The committee already arranged separate boats for the tourists and ticket holders
                                to reach the race area
                            </p>
                            <p>
                                <span class="fa contact-icon fa-check" aria-hidden="true"> </span> The ticket holders must reach the specially arranged boat jetty by 11:00 for catching
                                the boat
                            </p>
                            <p>
                                <span class="fa contact-icon fa-check" aria-hidden="true"> </span> Try to bring food items and water and can take to the venue
                            </p>
                            <p>
                                <span class="fa contact-icon fa-check" aria-hidden="true"> </span> Occupy your seat by 12:00 noon</p>
                            <p>
                                <span class="fa contact-icon fa-check" aria-hidden="true"> </span> Vehicles can be parked in Municipal Stadium north of Zillah Court Bridge
                            </p>
                            <p>
                                <span class="fa contact-icon fa-check" aria-hidden="true"> </span> This facility will available only up to 11:00 AM
                            </p>
                            <p>
                                <span class="fa contact-icon fa-check" aria-hidden="true"> </span> Less luggage more comfort</p>
                            <p>
                                <span class="fa contact-icon fa-check" aria-hidden="true"> </span> Show your tickets at the entrance of the boat jetty and also at the entrance of the
                                pavilion
                            </p>
                            <p>
                                <span class="fa contact-icon fa-check" aria-hidden="true"> </span> For any help please contact the control room 2243441 / 100 (police)</p>
                        </div>
                        <div class="contactCard glassBackground col-lg-4 col-md-8">
                            <h6>
                                <strong>DONT'S</strong>
                            </h6>
                            <hr>
                            <p>
                                <span class="fa contact-icon fa-ban" aria-hidden="true"> </span> Do not purchase tickets from unauthorized person</p>
                            <p>
                                <span class="fa contact-icon fa-ban" aria-hidden="true"> </span> Do not purchase complimentary passes by paying cash</p>
                            <p>
                                <span class="fa contact-icon fa-ban" aria-hidden="true"> </span> Do not purchase tickets having no seal or serial no. etc.</p>
                            <p>
                                <span class="fa contact-icon fa-ban" aria-hidden="true"> </span> Do not bring any explosive items and dangerous electronic devices</p>
                            <p>
                                <span class="fa contact-icon fa-ban" aria-hidden="true"> </span> Smoking is not allowed in the pavilion</p>
                            <p>
                                <span class="fa contact-icon fa-ban" aria-hidden="true"> </span> Do not bring liquors to the pavilion</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="contentBox">
                <h1 class="header">MAJOR HOTELS</h1>
                <div class="pageContent container">
                    <div class=" row justify-space-around">
                        <table class="table table-hover committee-table table-borderless glassBackground">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>HOTEL NAME</th>
                                    <th>Phone Number (Access code 91-477)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Alleppey Prince Hotel</td>
                                    <td>2243752</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Palm Grove Lake Resort</td>
                                    <td>2235004</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Raheem Residency </td>
                                    <td>2239767</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Lake Palace Lake View</td>
                                    <td>2239701</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Kayaloram Lake Resort</td>
                                    <td>2232040</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Royale Park</td>
                                    <td>2264828</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Alleppey Beach Resort</td>
                                    <td>2263408</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Punnamada Resort</td>
                                    <td>2233690</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td> Hotel Arcadia</td>
                                    <td>2251354</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Hotel Komala</td>
                                    <td>2243631</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>KTDC Yathri Nivas</td>
                                    <td>2244460</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Enkey's Tourist Home</td>
                                    <td>2258462</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>KTC Guest House</td>
                                    <td>2254275</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>Palmy Lake Resort</td>
                                    <td>2235938</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td> Keraleeyam Ayurvedic Resort</td>
                                    <td>2236950</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>Pagoda Resort</td>
                                    <td>2251697</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>Golden Sands Tourists Inn</td>
                                    <td>2230224</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>Brothers Tourist Home</td>
                                    <td>2251653</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>Raiban Hotel</td>
                                    <td>2251931</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>Haveli Backwater Resorts</td>
                                    <td>2264444</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

            <div class="contentBox" id="contact-feedback">
                <h1 class="header">FEEDBACKS</h1>
                <div class="pageContent container">
                    <div class=" row justify-space-around">
                        <div class="glassBackground contactCard feedbackContainer ">
                            <h5>We request you to send your valuable feedback on this website to
                            </h5>
                            <br>
                            <span>nehrutrophy[at]kerala[dot]nic[dot]in</span>
                            <br>
                            <span>
                                <strong>OR</strong>
                            </span>
                            <br>
                            <span>keralp[at]nic[dot]in</span>
                            <br>
                            <br>
                            <div class="feedbackCard ">
                                <button (click)="OpenfeedbackForm()" type="button" class="btn btn-primary">Send Feedback</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navContainer">
        <div class="verticalNav ">
            <ul class="aboutList list-unstyled glassBackground ml-auto">
                <li class="aboutListItem verticalListItem1">
                    <a href="/contact/#contact-NTBR">NTBR SOCIETY</a>
                </li>
                <li class="aboutListItem verticalListItem2">
                    <a href="/contact/#contact-wtc">WHOM TO CONTACT</a>
                </li>
                <li class="aboutListItem verticalListItem3">
                    <a href="/contact/#contact-location">LOCATION</a>
                </li>
                <li class="aboutListItem verticalListItem4">
                    <a href="/contact/#contact-dod">DO'S & DONT'S</a>
                </li>
                <li class="aboutListItem verticalListItem4">
                    <a href="/contact/#contact-feedback">FEEDBACK</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<app-footer></app-footer>