
  <div class="row footer" id="footer">
    <div class="div1 col-lg-4 ">
      <h5 class="os">
        <b>Other sites</b>
      </h5>
  
      <ul>
        <li>
          <a href="https://www.india.gov.in/" class="footlinks" target="_blank">Govt. of India</a>
        </li>
        <li>
          <a href="https://www.kerala.gov.in/" class="footlinks" target="_blank">Govt. of Kerala</a>
        </li>
        <li>
          <a href="http://alappuzha.gov.in/" class="footlinks" target="_blank">Govt. of Alappuzha</a>
        </li>
        <li>
          <a href="https://digilocker.gov.in/" class="footlinks" target="_blank">Digilocker</a>
        </li>
        <li>
          <a href="https://swachhbharat.mygov.in/" class="footlinks" target="_blank">Swachh Bharath</a>
        </li>
        <li>
          <a href="https://www.nic.in/" class="footlinks" target="_blank">National Informatic Centre</a>
        </li>
        <li>
          <a href="https://www.keralatourism.org/" class="footlinks" target="_blank">Kerala Tourism</a>
        </li>
      </ul>
    </div>
    <div class="div2 col-lg-4 ">
      <p class="foottext">This website is published and managed by
        <br>
        <b>Alappuzha District Administration,
          <br> Govt. of Kerala & Nehru Trophy Boat Race Society,
          <br> Alappuzha District, Kerala State, India.</b>
        <br>
        <br> For any query about this website
        <br>
        <b>The District Collector, Alappuzha, Kerala, India.</b>
        <br>
        <br> Site Hosted by
        <br>
        <b>National Informatics Centre.</b>
        <br>
        <br>
        <span class="imps">
          <span class="glyphicon glyphicon-phone-alt" id="#icns"></span>
          <b> +91-477-2251720</b>(Office)
          <br>
          <br>
          <span class="glyphicon glyphicon-phone" id="#icns"></span>
          <b> +91-477-2243721</b>(Residence)
          <br>
          <br>
  
          <span class="glyphicon glyphicon-envelope" id="#icns"></span>
          <b> nehrutrophy@kerala.nic.in</b>
        </span>
      </p>
    </div>
    <div class="div3 col-lg-4 ">
      <h5>Design & Development</h5>
        <a href="https://www.absolutetechnologies.in/">
          <img src="/assets/AbsoluteTechnologies.png" alt="AbsoluteLogo" class="logo">
        </a>
    
        <b>
          <h4 class="abs">
            <span id="a">Absolute</span>
            <span id="t"> Technologies</span>
          </h4>
        </b>
        <h5>info@absolutetechnologies.in</h5>
    </div>
    <p class="copyright col-lg-12">&copy;&nbsp; 2018 Copyrights : District Administration & Nehru Trophy Boat Race Society</p>
  </div>
  
