
  <div class="row footer" id="footer">
      <div class="div1 col-lg-4 ">
        <h5 class="os">
          <b>{{ 'footer.other' | translate }}</b>
        </h5>
    
        <ul>
          <li>
            <a href="https://www.india.gov.in/" class="footlinks" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')" target="_blank">{{ 'footer.other1' | translate }}</a>
          </li>
          <li>
            <a href="https://www.kerala.gov.in/" class="footlinks" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')" target="_blank">{{ 'footer.other2' | translate }}</a>
          </li>
          <li>
              <a href="https://www.keralatourism.org/" class="footlinks" target="_blank" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">{{ 'footer.other7' | translate }}</a>
            </li>
          <li>
            <a href="http://alappuzha.gov.in/" class="footlinks" target="_blank" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">{{ 'footer.other3' | translate }}</a>
          </li>
          <li>
            <a href="https://digilocker.gov.in/" class="footlinks" target="_blank" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">{{ 'footer.other4' | translate }}</a>
          </li>
          <li>
            <a href="https://swachhbharat.mygov.in/" class="footlinks" target="_blank" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">{{ 'footer.other5' | translate }}</a>
          </li>
          <li>
            <a href="https://www.nic.in/" class="footlinks" target="_blank" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">{{ 'footer.other6' | translate }}</a>
          </li>
          
        </ul>
      </div>
      <div class="div2 col-lg-4 ">
        <p class="foottext">{{ 'footer.middle1' | translate }}
          <br>
          <b>{{ 'footer.middle2' | translate }}
            <br> {{ 'footer.middle3' | translate }},
            <br> {{ 'footer.middle4' | translate }}.</b>
          <br>
          <br> {{ 'footer.middle5' | translate }}
          <br>
          <b>{{ 'footer.middle6' | translate }}.</b>
          <br>
          <br> {{ 'footer.middle7' | translate }}
          <br>
          <b>{{ 'footer.middle8' | translate }}.</b>
          <br>
          <br>
          <span class="imps">
            <span class="fas fa-phone" id="#icns"></span>
            <b> +91-477-2251720</b> ({{ 'footer.office' | translate }})
            <br>
            <br>
            <span class="fas fa-mobile" id="#icns"></span>
            <b> +91-477-2243721</b> ({{ 'footer.recidency' | translate }})
            <br>
            <br>
    
            <span class="fas fa-envelope" id="#icns"></span>
            <b> nehrutrophy@kerala.nic.in</b>
          </span>
        </p>
      </div>
      <div class="div3 col-lg-4 ">
        <h5>Follow Nehru Trophy Boat Race</h5>
          <div class="icon-bar">
              <a class="active" href="https://www.facebook.com/NehruTrophyNTBR" title="Visit our Facebook page" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
                <i class="socialicon fab fa-facebook"></i>
              </a>
              <a href="https://www.youtube.com/c/NehruTrophynicin" title="Visit our Youtube page"  onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
                <i class="socialicon fab fa-youtube"></i>
              </a>
              <a href="https://twitter.com/NehruTrophyNTBR"  title="Visit our Twitter page"  onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
                <i class="socialicon fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com/nehrutrophy_boatrace/"  title="Visit our Instagram page"  onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
                <i class="socialicon fab fa-instagram"></i>
              </a>
              <a href="https://plus.google.com/+NehruTrophynicin"  title="Visit our GooglePlus page" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
                <i class="socialicon fab fa-google-plus-g"></i>
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.nic.ntbr2017&hl=en"  title="Check our Android application"  onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
                <i class="socialicon fab fa-android"></i>
              </a>
          
            </div>
            <hr>
            <div><button (click)="OpenfeedbackForm()" type="button" class="btn btn-outline-secondary btn-sm" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">Send Your Feedback</button>
              <button onclick="topFunction()" type="button"  class="btn btn-outline-secondary btn-sm">Go Top</button> 
            </div><hr>
            
              
              
        <h5>{{ 'footer.design' | translate }}</h5>
          <a href="https://www.absolutetechnologies.in/" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
            <img src="/assets/AbsoluteTechnologies.png" alt="AbsoluteLogo" class="logo">
          </a>
      
          <b>
            <h4 class="abs">
              <span id="a">{{ 'footer.absolut' | translate }}</span>
              <span id="t">{{ 'footer.tech' | translate }}</span>
            </h4>
          </b>
          <h5>info@absolutetechnologies.in</h5>
         </div>   
      <p class="copyright col-lg-12">&copy;&nbsp; {{ 'footer.copyright' | translate }}.</p>
      <span class="botlinks col-lg-12 copyright"><a href="">Terms & Conditions</a>&nbsp;<a href="">Copyright Policy</a>&nbsp;<a href="">Accessibility Statement</a>&nbsp;<a href="">Hyperlinking Policy</a>&nbsp;<a href="">Privacy Policy</a>&nbsp;<a href="">Privacy Policy for Mobile</a></span>
  
    </div>
    
  