
  <div class="row footer" id="footer">
      <div class="div1 col-lg-4 ">
        <h5 class="os">
          <b>{{ 'footer.other' | translate }}</b>
        </h5>
    
        <ul>
          <li>
            <a href="https://www.india.gov.in/" class="footlinks" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')" target="_blank">{{ 'footer.other1' | translate }}</a>
          </li>
          <li>
            <a href="https://www.kerala.gov.in/" class="footlinks" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')" target="_blank">{{ 'footer.other2' | translate }}</a>
          </li>
          <li>
            <a href="http://alappuzha.gov.in/" class="footlinks" target="_blank" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">{{ 'footer.other3' | translate }}</a>
          </li>
          <li>
            <a href="https://digilocker.gov.in/" class="footlinks" target="_blank" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">{{ 'footer.other4' | translate }}</a>
          </li>
          <li>
            <a href="https://swachhbharat.mygov.in/" class="footlinks" target="_blank" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">{{ 'footer.other5' | translate }}</a>
          </li>
          <li>
            <a href="https://www.nic.in/" class="footlinks" target="_blank" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">{{ 'footer.other6' | translate }}</a>
          </li>
          <li>
            <a href="https://www.keralatourism.org/" class="footlinks" target="_blank" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">{{ 'footer.other7' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="div2 col-lg-4 ">
        <p class="foottext">{{ 'footer.middle1' | translate }}
          <br>
          <b>{{ 'footer.middle2' | translate }}
            <br> {{ 'footer.middle3' | translate }},
            <br> {{ 'footer.middle4' | translate }}.</b>
          <br>
          <br> {{ 'footer.middle5' | translate }}
          <br>
          <b>{{ 'footer.middle6' | translate }}.</b>
          <br>
          <br> {{ 'footer.middle7' | translate }}
          <br>
          <b>{{ 'footer.middle8' | translate }}.</b>
          <br>
          <br>
          <span class="imps">
            <span class="glyphicon glyphicon-phone-alt" id="#icns"></span>
            <b> +91-477-2251720</b>({{ 'footer.office' | translate }})
            <br>
            <br>
            <span class="glyphicon glyphicon-phone" id="#icns"></span>
            <b> +91-477-2243721</b>({{ 'footer.recidency' | translate }})
            <br>
            <br>
    
            <span class="glyphicon glyphicon-envelope" id="#icns"></span>
            <b> nehrutrophy@kerala.nic.in</b>
          </span>
        </p>
      </div>
      <div class="div3 col-lg-4 ">
        <h5>{{ 'footer.design' | translate }}</h5>
          <a href="https://www.absolutetechnologies.in/" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">
            <img src="/assets/AbsoluteTechnologies.png" alt="AbsoluteLogo" class="logo">
          </a>
      
          <b>
            <h4 class="abs">
              <span id="a">{{ 'footer.absolut' | translate }}</span>
              <span id="t">{{ 'footer.tech' | translate }}</span>
            </h4>
          </b>
          <h5>info@absolutetechnologies.in</h5>
          <button (click)="OpenfeedbackForm()" type="button" class="btn btn-outline-secondary btn-sm" onClick="return confirm('This link shall take you to a page/website outside this website. For any query regarding the contents of the linked page/website, please contact the webmaster of the concerned website!')">Send Feedback</button>
      </div>
      <p class="copyright col-lg-12">&copy;&nbsp; {{ 'footer.copyright' | translate }}.</p>
      <span class="botlinks col-lg-12 copyright"><a href="">Terms & Conditions</a>&nbsp;<a href="">Copyright Policy</a>&nbsp;<a href="">Accessibility Statement</a>&nbsp;<a href="">Hyperlinking Policy</a>&nbsp;<a href="">Privacy Policy</a>&nbsp;<a href="">Privacy Policy for Mobile</a></span>
    </div>
    
  