.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -100;
    width:100%;
    margin:0px;
    background: rgb(51,51,51);
	background: -moz-linear-gradient(top, rgba(51,51,51,1) 1%, rgba(48,48,48,1) 100%);
	background: -webkit-linear-gradient(top, rgba(51,51,51,1) 1%,rgba(48,48,48,1) 100%);
	background: linear-gradient(to bottom, rgba(51,51,51,1) 1%,rgba(48,48,48,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#303030',GradientType=0 );
    height: 500px;
}

.div1{

    padding:3%;
 
}
.div2{
    padding:3%;

}
.div3{
    padding:3%;
    text-align: center;
	color:#787878;
	transition: .5s linear .3s;
	h5{
		font-size:1em;
	}
}


.os{
	color:#787878;
    font-weight: 500;
    margin:2px 0px;
    font-size:1em;

}

ul{
	padding:0px 0px;
	margin:0;

}

li{
	padding:2% 0px;
	list-style-type: none;
}

p{
	margin:10px 0px;
	text-align:left;
}

.footlinks{

color:#787878;
font-size:1em;
text-decoration: none;
}

.footlinks:hover{
	color:#d8d8d8;
}

.foottext{
	font-size:11px;
	color:#787878;
	font-family:raleway;

}

.logo{ 
	max-height:180px;
	filter:saturate(0%);
	transition: .7s ease-out .1s;

}

.copyright{
	padding:5px;
	margin:0px;
	font-size:10px;
	text-align:center;
	color:#868686;
	font-family: raleway;
    a{
        margin:0px 3px;
        color:#999999;
      
    }

}

.footer:hover .logo{

	filter: saturate(100%);
}

.div3:hover{
	color:white;
}

.div3:hover .logo{
	margin:0px;
	transform:rotate(180deg);

}

.imps{
	font-size: 1.2em;
	color:#959595;
}
#icns{
	font-size:1.2em;
}

.abs{
	font-size:1.3em
}
.btn-outline-secondary{
    border:none!important;
   
}
@media screen and (min-width: 0px) and (max-width: 768px) {
    .footer{

        height:100vh;
        padding-top:85px;
    }
    
    .div1{
        max-height:35%;
        padding:5px 5% 0px 5%;
     
    }
    .div2{
        max-height:45%;
        padding:5px 5%;
    
    }
    .div3{
        padding:1%;
        text-align: center;
        color:#787878;
        transition: .5s linear .3s;
        h5{
            font-size:.7em;
            margin:0px;
        }
    
    }
 
    ul li{
        padding:0px 10px;
        display:inline-block;
    }
    .btn-outline-secondary{
        border:none!important;
        font-size:.7em;
       
    }
    .footlinks{

    
        font-size:.9em;
        padding:0px;
        }
        .foottext{
            font-size:11px;
            margin:0px;
            line-height:1.2em;
        
        }
        
        .logo{ 
            max-height:65px;
 
    
        
        }
        
        .copyright{
            height:15px;
            padding:0px;
            font-size:8px;
          
        
        }
        .abs{
            font-size:.8em;
            margin:1px;
        }
        .os{
            color:#787878;
            font-weight: 500;
            margin:0px;
            font-size:.8em;
        
        }

       
}

@media screen and (width:320px){
    .footlinks{

    
        font-size:.7em;
        padding:0px;
        }
        .foottext{
            font-size:10px;
            
        
        }
        .logo{ 
            max-height:45px;
 
    
        
        }
}
@media screen and (width:768px){
    .footer{
        padding-top:300px;
        font-size:1.5em!important;
    }

}