<div class="policies">
    <h3>TERMS AND CONDITIONS</h3>
    <p>This website is designed, developed and hosted by National Informatics Center, District Center -Alappuzha. Contents on this website is published, managed and maintained by Collectorate, Alappuzha District, Kerala State, India.


      Though all efforts have been made to ensure the accuracy and currency of the content on this website, the same should not be construed as a statement of law or used for any legal purposes. Incase of any ambiguity or doubts, users are advised to verify / check with the Department(s) and / or other source(s), and to obtain appropriate professional advice.
      
      
      Under no circumstances will this Department be liable for any expense, loss or damage including, without limitation, indirect or consequential loss or damage, or any expense, loss or damage whatsoever arising from use, or loss of use, of data, arising out of or in connection with the use of this website.
      
      
      These terms and conditions shall be governed by and construed in accordance with the Indian Laws. Any dispute arising under these terms and conditions shall be subject to the jurisdiction of the courts of India.
      
      
      The information posted on this website could include hypertext links or pointers to information created and maintained by non-Government / private organisations. This Portal is providing these links and pointers solely for your information and convenience. When you select a link to an outside website, you are leaving the Nehru Trophy Boat Race Portal/ website and are subject to the privacy and security policies of the owners / sponsors of the outside website.
      
      
      Nehru Trophy Boat Race Website Portal, does not guarantee the availability of such linked pages at all times.
    
    </p>

    <br><hr><br>
    <h3>ACCESSIBILITY STATEMENT</h3>
    <p>We are committed to ensure that the Website is accessible to all users irrespective of device in use, technology or ability. It has been built, with an aim, to provide maximum accessibility and usability to its visitors. As a result, this Portal can be viewed from a variety of devices, such as web-enabled mobile devices, wap phones, PDAs, and so on.


      We have put in our best efforts to ensure that all information on this Website is accessible to people with disabilities. For example, a user with visual disability can access this Website using assistive technologies, such as screen readers and magnifiers.
      
      
      We also aim to be standards compliant and follow principles of usability and universal design, which should help all visitors of this Portal.
      
      
      This Website is designed using XHTML 1.0 Transitional and meets priority 2 (level AA) of the Web Content Accessibility Guidelines (WCAG) 2.0 laid down by the World Wide Web Consortium (W3C). Part of the information in the Portal is also made available through links to external Web sites. External Web sites are maintained by the respective departments who are responsible for making these sites accessible.
      
      
      For the benefit of our readers the Hindi and Malayalam version of the Website is also made accessible. If you have any problem or suggestion regarding the accessibility of this Portal, please inform us to respond in a helpful manner.
      
      </p>
      <br><hr><br>
      <h3>COPYRIGHT POLICY</h3>
      <p>Material featured on this site may be reproduced free of charge in any format or media without requiring specific permission. This is subject to the material being reproduced accurately and not being used in a derogatory manner or in a misleading context. Where the material is being published or issued to others, the source must be prominently acknowledged. However, the permission to reproduce this material does not extend to any material on this site, which is explicitly identified as being the copyright of a third party. Authorization to reproduce such material must be obtained from the copyright holders concerned.</p>
      <br><hr><br>
      <h3>HYPERLINKING POLICY</h3>
      <p>We do not object to you linking directly to the information that is hosted on our site and no prior permission is required for the same. However, we would like you to inform us about any links provided to our site so that you can be informed of any changes or updations therein. Also, we do not permit our pages to be loaded into frames on your site. Our Department's pages must load into a newly opened browser window of the user.</p>
      <br><hr><br>
      <h3>PRIVACY POLICY</h3>
      <p>As a general rule, this website does not collect Personal Information about you when you visit the site. You can generally visit the site without revealing Personal Information, unless you choose to provide such information.


        Site Visit data: This website records your visit and logs the following information for statistical purposes your server's address; the name of the top-level domain from which you access the Internet (for example, .gov, .com, .in, etc.); the type of browser you use; the date and time you access the site; the pages you have accessed and the documents downloaded and the previous Internet address from which you linked directly to the site.
        
        
        We will not identify users or their browsing activities, except when a law enforcement agency may exercise a warrant to inspect the service provider's logs.
        
        
        Cookies: A cookie is a piece of software code that an internet web site sends to your browser when you access information at that site. This site does not use cookies.
        
        
        Email management: Your email address will only be recorded if you choose to send a message. It will only be used for the purpose for which you have provided it and will not be added to a mailing list. Your email address will not be used for any other purpose, and will not be disclosed, without your consent.
        
        
        Collection of Personal Information: If you are asked for any other Personal Information you will be informed how it will be used if you choose to give it. If at any time you believe the principles referred to in this privacy statement have not been followed, or have any other comments on these principles, please notify the Web Information Manager through the contact us page.
        
        
        Note: The use of the term "Personal Information" in this privacy statement refers to any information from which your identity is apparent or can be reasonably ascertained.</p>


</div>